.paragraph {
  color: var(--inverse-lighter);
}

.container {
  border-radius: var(--spacing-m) var(--spacing-m) 0 0;
  width: 196px;
  height: 120px;
  background: var(--secondary-lightest);
}

.image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgName {
  color: var(--inverse);
  font-size: 14px;
  font-weight: var(--font-weight-medium);
}

.download-logos {
  position: absolute !important;
  right: 100px;
  top: 60px;
}
