.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: var(--spacing-xs) !important;
}

.m-2 {
  margin: var(--spacing-s) !important;
}

.m-3 {
  margin: var(--spacing-m) !important;
}

.m-4 {
  margin: var(--spacing) !important;
}

.m-5 {
  margin: var(--spacing-l) !important;
}

.m-6 {
  margin: var(--spacing-2) !important;
}

.m-7 {
  margin: var(--spacing-xl) !important;
}

.m-8 {
  margin: var(--spacing-3) !important;
}

.m-9 {
  margin: var(--spacing-4) !important;
}

.m-10 {
  margin: var(--spacing-5) !important;
}

.m-11 {
  margin: var(--spacing-6) !important;
}

.m-12 {
  margin: var(--spacing-7) !important;
}

.m-13 {
  margin: var(--spacing-8) !important;
}

.m-14 {
  margin: var(--spacing-9) !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: var(--spacing-xs) !important;
  margin-left: var(--spacing-xs) !important;
}

.mx-2 {
  margin-right: var(--spacing-s) !important;
  margin-left: var(--spacing-s) !important;
}

.mx-3 {
  margin-right: var(--spacing-m) !important;
  margin-left: var(--spacing-m) !important;
}

.mx-4 {
  margin-right: var(--spacing) !important;
  margin-left: var(--spacing) !important;
}

.mx-5 {
  margin-right: var(--spacing-l) !important;
  margin-left: var(--spacing-l) !important;
}

.mx-6 {
  margin-right: var(--spacing-2) !important;
  margin-left: var(--spacing-2) !important;
}

.mx-7 {
  margin-right: var(--spacing-xl) !important;
  margin-left: var(--spacing-xl) !important;
}

.mx-8 {
  margin-right: var(--spacing-3) !important;
  margin-left: var(--spacing-3) !important;
}

.mx-9 {
  margin-right: var(--spacing-4) !important;
  margin-left: var(--spacing-4) !important;
}

.mx-10 {
  margin-right: var(--spacing-5) !important;
  margin-left: var(--spacing-5) !important;
}

.mx-11 {
  margin-right: var(--spacing-6) !important;
  margin-left: var(--spacing-6) !important;
}

.mx-12 {
  margin-right: var(--spacing-7) !important;
  margin-left: var(--spacing-7) !important;
}

.mx-13 {
  margin-right: var(--spacing-8) !important;
  margin-left: var(--spacing-8) !important;
}

.mx-14 {
  margin-right: var(--spacing-9) !important;
  margin-left: var(--spacing-9) !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: var(--spacing-xs) !important;
  margin-bottom: var(--spacing-xs) !important;
}

.my-2 {
  margin-top: var(--spacing-s) !important;
  margin-bottom: var(--spacing-s) !important;
}

.my-3 {
  margin-top: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.my-4 {
  margin-top: var(--spacing) !important;
  margin-bottom: var(--spacing) !important;
}

.my-5 {
  margin-top: var(--spacing-l) !important;
  margin-bottom: var(--spacing-l) !important;
}

.my-6 {
  margin-top: var(--spacing-2) !important;
  margin-bottom: var(--spacing-2) !important;
}

.my-7 {
  margin-top: var(--spacing-xl) !important;
  margin-bottom: var(--spacing-xl) !important;
}

.my-8 {
  margin-top: var(--spacing-3) !important;
  margin-bottom: var(--spacing-3) !important;
}

.my-9 {
  margin-top: var(--spacing-4) !important;
  margin-bottom: var(--spacing-4) !important;
}

.my-10 {
  margin-top: var(--spacing-5) !important;
  margin-bottom: var(--spacing-5) !important;
}

.my-11 {
  margin-top: var(--spacing-6) !important;
  margin-bottom: var(--spacing-6) !important;
}

.my-12 {
  margin-top: var(--spacing-7) !important;
  margin-bottom: var(--spacing-7) !important;
}

.my-13 {
  margin-top: var(--spacing-8) !important;
  margin-bottom: var(--spacing-8) !important;
}

.my-14 {
  margin-top: var(--spacing-9) !important;
  margin-bottom: var(--spacing-9) !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: var(--spacing-xs) !important;
}

.mt-2 {
  margin-top: var(--spacing-s) !important;
}

.mt-3 {
  margin-top: var(--spacing-m) !important;
}

.mt-4 {
  margin-top: var(--spacing) !important;
}

.mt-5 {
  margin-top: var(--spacing-l) !important;
}

.mt-6 {
  margin-top: var(--spacing-2) !important;
}

.mt-7 {
  margin-top: var(--spacing-xl) !important;
}

.mt-8 {
  margin-top: var(--spacing-3) !important;
}

.mt-9 {
  margin-top: var(--spacing-4) !important;
}

.mt-10 {
  margin-top: var(--spacing-5) !important;
}

.mt-11 {
  margin-top: var(--spacing-6) !important;
}

.mt-12 {
  margin-top: var(--spacing-7) !important;
}

.mt-13 {
  margin-top: var(--spacing-8) !important;
}

.mt-14 {
  margin-top: var(--spacing-9) !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: var(--spacing-xs) !important;
}

.mb-2 {
  margin-bottom: var(--spacing-s) !important;
}

.mb-3 {
  margin-bottom: var(--spacing-m) !important;
}

.mb-4 {
  margin-bottom: var(--spacing) !important;
}

.mb-5 {
  margin-bottom: var(--spacing-l) !important;
}

.mb-6 {
  margin-bottom: var(--spacing-2) !important;
}

.mb-7 {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-8 {
  margin-bottom: var(--spacing-3) !important;
}

.mb-9 {
  margin-bottom: var(--spacing-4) !important;
}

.mb-10 {
  margin-bottom: var(--spacing-5) !important;
}

.mb-11 {
  margin-bottom: var(--spacing-6) !important;
}

.mb-12 {
  margin-bottom: var(--spacing-7) !important;
}

.mb-13 {
  margin-bottom: var(--spacing-8) !important;
}

.mb-14 {
  margin-bottom: var(--spacing-9) !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: var(--spacing-xs) !important;
}

.mr-2 {
  margin-right: var(--spacing-s) !important;
}

.mr-3 {
  margin-right: var(--spacing-m) !important;
}

.mr-4 {
  margin-right: var(--spacing) !important;
}

.mr-5 {
  margin-right: var(--spacing-l) !important;
}

.mr-6 {
  margin-right: var(--spacing-2) !important;
}

.mr-7 {
  margin-right: var(--spacing-xl) !important;
}

.mr-8 {
  margin-right: var(--spacing-3) !important;
}

.mr-9 {
  margin-right: var(--spacing-4) !important;
}

.mr-10 {
  margin-right: var(--spacing-5) !important;
}

.mr-11 {
  margin-right: var(--spacing-6) !important;
}

.mr-12 {
  margin-right: var(--spacing-7) !important;
}

.mr-13 {
  margin-right: var(--spacing-8) !important;
}

.mr-14 {
  margin-right: var(--spacing-9) !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: var(--spacing-xs) !important;
}

.ml-2 {
  margin-left: var(--spacing-s) !important;
}

.ml-3 {
  margin-left: var(--spacing-m) !important;
}

.ml-4 {
  margin-left: var(--spacing) !important;
}

.ml-5 {
  margin-left: var(--spacing-l) !important;
}

.ml-6 {
  margin-left: var(--spacing-2) !important;
}

.ml-7 {
  margin-left: var(--spacing-xl) !important;
}

.ml-8 {
  margin-left: var(--spacing-3) !important;
}

.ml-9 {
  margin-left: var(--spacing-4) !important;
}

.ml-10 {
  margin-left: var(--spacing-5) !important;
}

.ml-11 {
  margin-left: var(--spacing-6) !important;
}

.ml-12 {
  margin-left: var(--spacing-7) !important;
}

.ml-13 {
  margin-left: var(--spacing-8) !important;
}

.ml-14 {
  margin-left: var(--spacing-9) !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: var(--spacing-xs) !important;
}

.p-2 {
  padding: var(--spacing-s) !important;
}

.p-3 {
  padding: var(--spacing-m) !important;
}

.p-4 {
  padding: var(--spacing) !important;
}

.p-5 {
  padding: var(--spacing-l) !important;
}

.p-6 {
  padding: var(--spacing-2) !important;
}

.p-7 {
  padding: var(--spacing-xl) !important;
}

.p-8 {
  padding: var(--spacing-3) !important;
}

.p-9 {
  padding: var(--spacing-4) !important;
}

.p-10 {
  padding: var(--spacing-5) !important;
}

.p-11 {
  padding: var(--spacing-6) !important;
}

.p-12 {
  padding: var(--spacing-7) !important;
}

.p-13 {
  padding: var(--spacing-8) !important;
}

.p-14 {
  padding: var(--spacing-9) !important;
}

.p-auto {
  padding: auto !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: var(--spacing-xs) !important;
  padding-left: var(--spacing-xs) !important;
}

.px-2 {
  padding-right: var(--spacing-s) !important;
  padding-left: var(--spacing-s) !important;
}

.px-3 {
  padding-right: var(--spacing-m) !important;
  padding-left: var(--spacing-m) !important;
}

.px-4 {
  padding-right: var(--spacing) !important;
  padding-left: var(--spacing) !important;
}

.px-5 {
  padding-right: var(--spacing-l) !important;
  padding-left: var(--spacing-l) !important;
}

.px-6 {
  padding-right: var(--spacing-2) !important;
  padding-left: var(--spacing-2) !important;
}

.px-7 {
  padding-right: var(--spacing-xl) !important;
  padding-left: var(--spacing-xl) !important;
}

.px-8 {
  padding-right: var(--spacing-3) !important;
  padding-left: var(--spacing-3) !important;
}

.px-9 {
  padding-right: var(--spacing-4) !important;
  padding-left: var(--spacing-4) !important;
}

.px-10 {
  padding-right: var(--spacing-5) !important;
  padding-left: var(--spacing-5) !important;
}

.px-11 {
  padding-right: var(--spacing-6) !important;
  padding-left: var(--spacing-6) !important;
}

.px-12 {
  padding-right: var(--spacing-7) !important;
  padding-left: var(--spacing-7) !important;
}

.px-13 {
  padding-right: var(--spacing-8) !important;
  padding-left: var(--spacing-8) !important;
}

.px-14 {
  padding-right: var(--spacing-9) !important;
  padding-left: var(--spacing-9) !important;
}

.px-auto {
  padding-right: auto !important;
  padding-left: auto !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: var(--spacing-xs) !important;
  padding-bottom: var(--spacing-xs) !important;
}

.py-2 {
  padding-top: var(--spacing-s) !important;
  padding-bottom: var(--spacing-s) !important;
}

.py-3 {
  padding-top: var(--spacing-m) !important;
  padding-bottom: var(--spacing-m) !important;
}

.py-4 {
  padding-top: var(--spacing) !important;
  padding-bottom: var(--spacing) !important;
}

.py-5 {
  padding-top: var(--spacing-l) !important;
  padding-bottom: var(--spacing-l) !important;
}

.py-6 {
  padding-top: var(--spacing-2) !important;
  padding-bottom: var(--spacing-2) !important;
}

.py-7 {
  padding-top: var(--spacing-xl) !important;
  padding-bottom: var(--spacing-xl) !important;
}

.py-8 {
  padding-top: var(--spacing-3) !important;
  padding-bottom: var(--spacing-3) !important;
}

.py-9 {
  padding-top: var(--spacing-4) !important;
  padding-bottom: var(--spacing-4) !important;
}

.py-10 {
  padding-top: var(--spacing-5) !important;
  padding-bottom: var(--spacing-5) !important;
}

.py-11 {
  padding-top: var(--spacing-6) !important;
  padding-bottom: var(--spacing-6) !important;
}

.py-12 {
  padding-top: var(--spacing-7) !important;
  padding-bottom: var(--spacing-7) !important;
}

.py-13 {
  padding-top: var(--spacing-8) !important;
  padding-bottom: var(--spacing-8) !important;
}

.py-14 {
  padding-top: var(--spacing-9) !important;
  padding-bottom: var(--spacing-9) !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: var(--spacing-xs) !important;
}

.pt-2 {
  padding-top: var(--spacing-s) !important;
}

.pt-3 {
  padding-top: var(--spacing-m) !important;
}

.pt-4 {
  padding-top: var(--spacing) !important;
}

.pt-5 {
  padding-top: var(--spacing-l) !important;
}

.pt-6 {
  padding-top: var(--spacing-2) !important;
}

.pt-7 {
  padding-top: var(--spacing-xl) !important;
}

.pt-8 {
  padding-top: var(--spacing-3) !important;
}

.pt-9 {
  padding-top: var(--spacing-4) !important;
}

.pt-10 {
  padding-top: var(--spacing-5) !important;
}

.pt-11 {
  padding-top: var(--spacing-6) !important;
}

.pt-12 {
  padding-top: var(--spacing-7) !important;
}

.pt-13 {
  padding-top: var(--spacing-8) !important;
}

.pt-14 {
  padding-top: var(--spacing-9) !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: var(--spacing-xs) !important;
}

.pb-2 {
  padding-bottom: var(--spacing-s) !important;
}

.pb-3 {
  padding-bottom: var(--spacing-m) !important;
}

.pb-4 {
  padding-bottom: var(--spacing) !important;
}

.pb-5 {
  padding-bottom: var(--spacing-l) !important;
}

.pb-6 {
  padding-bottom: var(--spacing-2) !important;
}

.pb-7 {
  padding-bottom: var(--spacing-xl) !important;
}

.pb-8 {
  padding-bottom: var(--spacing-3) !important;
}

.pb-9 {
  padding-bottom: var(--spacing-4) !important;
}

.pb-10 {
  padding-bottom: var(--spacing-5) !important;
}

.pb-11 {
  padding-bottom: var(--spacing-6) !important;
}

.pb-12 {
  padding-bottom: var(--spacing-7) !important;
}

.pb-13 {
  padding-bottom: var(--spacing-8) !important;
}

.pb-14 {
  padding-bottom: var(--spacing-9) !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: var(--spacing-xs) !important;
}

.pr-2 {
  padding-right: var(--spacing-s) !important;
}

.pr-3 {
  padding-right: var(--spacing-m) !important;
}

.pr-4 {
  padding-right: var(--spacing) !important;
}

.pr-5 {
  padding-right: var(--spacing-l) !important;
}

.pr-6 {
  padding-right: var(--spacing-2) !important;
}

.pr-7 {
  padding-right: var(--spacing-xl) !important;
}

.pr-8 {
  padding-right: var(--spacing-3) !important;
}

.pr-9 {
  padding-right: var(--spacing-4) !important;
}

.pr-10 {
  padding-right: var(--spacing-5) !important;
}

.pr-11 {
  padding-right: var(--spacing-6) !important;
}

.pr-12 {
  padding-right: var(--spacing-7) !important;
}

.pr-13 {
  padding-right: var(--spacing-8) !important;
}

.pr-14 {
  padding-right: var(--spacing-9) !important;
}

.pr-auto {
  padding-right: auto !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: var(--spacing-xs) !important;
}

.pl-2 {
  padding-left: var(--spacing-s) !important;
}

.pl-3 {
  padding-left: var(--spacing-m) !important;
}

.pl-4 {
  padding-left: var(--spacing) !important;
}

.pl-5 {
  padding-left: var(--spacing-l) !important;
}

.pl-6 {
  padding-left: var(--spacing-2) !important;
}

.pl-7 {
  padding-left: var(--spacing-xl) !important;
}

.pl-8 {
  padding-left: var(--spacing-3) !important;
}

.pl-9 {
  padding-left: var(--spacing-4) !important;
}

.pl-10 {
  padding-left: var(--spacing-5) !important;
}

.pl-11 {
  padding-left: var(--spacing-6) !important;
}

.pl-12 {
  padding-left: var(--spacing-7) !important;
}

.pl-13 {
  padding-left: var(--spacing-8) !important;
}

.pl-14 {
  padding-left: var(--spacing-9) !important;
}

.pl-auto {
  padding-left: auto !important;
}
