/** utility **/
.hide-scroll-bar::-webkit-scrollbar {
    height: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis--noWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}