# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
# recommended to add to Git SCM
# or generate with `nodeclipse -p` command
.project
.settings/
.*.md.html


# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# NPM Files
# --------------------
package-lock.json
.npmrc

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# App Files
# --------------------
tests/results/**
modules/public/
modules/views/
session/
package-lock.json
/public/build/
/packages/core/
/packages/contrib/
/packages/**/**/public/assets/lib


# --------------------
# vim Files
# --------------------
*.swp

#webpack
/bundle
/backup
/.build
_gulpfile.js
/tests/index.js
datashopPlugin.js
/tests/test.build.js

# Coverage directory used by tools like istanbul
coverage

# bundles files

dist
css/dist
.lib
.dist
docs/public/*
docs/.cache
docs/node_modules
docs/static/sb/
docs/cypress/videos
docs/cypress/screenshots