.ProgressBar {
  width: 100%;
  border-radius: var(--spacing-m);
  background: var(--secondary-lighter);
}

.ProgressBar-indicator {
  background-color: var(--primary);
  border-radius: var(--spacing-m);
  transition: var(--duration--slow-01) var(--standard-expressive-curve);
}

.ProgressBar-indicator--small {
  height: var(--spacing-s);
}

.ProgressBar-indicator--regular {
  height: var(--spacing);
}
