.EditableChipInput {
  position: relative;
  width: 100%;
}
.EditableChipInput-default {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-l);
  border-left: var(--spacing-xs) solid transparent;
  min-height: var(--spacing-3);
  flex-wrap: wrap;
}

.EditableChipInput-defaultWithChips {
  display: flex;
  align-items: center;
  padding-left: var(--spacing);
  border: var(--spacing-xs) solid transparent;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  max-width: calc(100% - 28px);
  flex-wrap: wrap;
}

.EditableChipInput-defaultWithChips:hover,
.EditableChipInput-default:hover {
  background-color: var(--secondary-lightest);
}

.EditableChipInput-chipInput {
  padding-left: var(--spacing);
}

.EditableChipInput-actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-m);
  width: 100%;
}
