.Select-Option-label {
  max-width: var(--spacing-320);
}

.Button-primary--active {
  background-color: var(--primary-darker);
}

.AIButton-secondary--active {
  background-color: var(--secondary-dark);
  color: var(--secondary-dark)  !important;
}

.Button-secondary--active {
  background-color: var(--secondary-dark);
}
