.header {
  z-index: 1000;
  top: 0;
  border-bottom: var(--border);
  border-color: var(--secondary-dark);
  padding-top: var(--spacing-s);
  padding-bottom: 1px;
  justify-content: space-between;
}

.HeaderLink:hover {
  border-bottom: none !important;
}

.HeaderLink:focus {
  box-shadow: none !important;
}

.HeaderLink {
  text-decoration: none;
  font-weight: var(--font-weight-normal);
  padding: var(--spacing) 0;
  margin-left: var(--spacing-3);
  line-height: 0;
}

.HeaderLink--active {
  color: var(--text-link);
}

.HeaderLink--default {
  color: var(--inverse);
}

.HeaderIcon {
  top: 2px;
}
