.AIResponse-container {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgba(254, 172, 95, 1) 9%, rgba(255, 31, 136, 1) 48%, rgba(227, 28, 121, 0.48) 100%)
      border-box;
  border: 1px solid transparent;
  border-radius: var(--spacing-l);
}

.AIResponse-box {
  padding: var(--spacing) var(--spacing-l);
  border-radius: var(--spacing-l);
  background: linear-gradient(to right, rgba(240, 125, 0, 0.04), rgba(227, 28, 121, 0.0192));
}

.AIResponse-actionBar {
  margin-top: var(--spacing-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AIResponse-button {
  opacity: var(--opacity-12);
}

.AIResponse-box:hover .AIResponse-button {
  opacity: 1;
}

.AIResponse-button--selected {
  opacity: 1;
}

.AIResponse-metaData {
  margin-left: calc(var(--spacing-3) + var(--spacing));
}
