.live-editor-card {
  background-color: rgb(30, 30, 30);
}

.codesandBox-icon {
  fill: var(--white);
}

.live-provider {
  width: calc(var(--spacing-9) * 3);
}

.overflow-scroll {
  overflow: scroll;
}
