/**** Colors ****/
:root {
	--haldi: #ffc208;
	--haldi-dark: #b78707;
	--haldi-darker: #6b4a06;
	--haldi-light: #ffd462;
	--haldi-lighter: #ffe597;
	--haldi-lightest: #fff5c7;
	--jal: #0070dd;
	--jal-dark: #00509f;
	--jal-darker: #003365;
	--jal-light: #4f9de7;
	--jal-lighter: #97c5f0;
	--jal-lightest: #dcecf9;
	--jamun: #7a53b2;
	--jamun-dark: #644491;
	--jamun-darker: #4e3572;
	--jamun-light: #9d7ec6;
	--jamun-lighter: #bfaada;
	--jamun-lightest: #e0d8ee;
	--mirch: #d93737;
	--mirch-dark: #9c2828;
	--mirch-darker: #631919;
	--mirch-light: #eb776c;
	--mirch-lighter: #f7ada5;
	--mirch-lightest: #f9e2e2;
	--neel: #3d51d4;
	--neel-dark: #2c3a98;
	--neel-darker: #1c2561;
	--neel-light: #7583e1;
	--neel-lighter: #abb4ed;
	--neel-lightest: #e2e5f9;
	--neem: #2ea843;
	--neem-dark: #227934;
	--neem-darker: #154d26;
	--neem-light: #71c077;
	--neem-lighter: #a5d8aa;
	--neem-lightest: #d7efdf;
	--night: #2f2f2f;
	--night-light: #595959;
	--night-lighter: #868686;
	--night-lightest: #a6a6a6;
	--nimbu: #82c91e;
	--nimbu-dark: #578715;
	--nimbu-darker: #304a0b;
	--nimbu-light: #a6d763;
	--nimbu-lighter: #c6e599;
	--nimbu-lightest: #e3f3ce;
	--shadow-0: #ffffff;
	--shadow-10: #ffffff;
	--shadow-20: #ffffff;
	--shadow-30: #ffffff;
	--stone: #d5d5d5;
	--stone-dark: #c5c5c5;
	--stone-light: #e5e5e5;
	--stone-lighter: #ececec;
	--stone-lightest: #f4f4f4;
	--tawak: #f07d00;
	--tawak-dark: #b35f13;
	--tawak-darker: #743208;
	--tawak-light: #feac5f;
	--tawak-lighter: #ffc998;
	--tawak-lightest: #fde6ce;
	--white: #ffffff;

	/**** Fonts ****/
} /* close :root */
