html, body {
  height: 100%;
  overflow-y: auto;
}

.DocPage-editorTabs .TabsWrapper-header {
  margin-left: var(--spacing-l)
}

.DocPage-codeBlock {
  position: relative;
  font-family: monospace !important;
  font-size: 13px !important;
  background: #f8f8f8 !important;
  margin-top: var(--spacing) !important;
  margin-bottom: var(--spacing) !important;
  padding: var(--spacing) !important;
  white-space: break-spaces !important;
  border-radius: var(--spacing-m)
}

.Utilities-example {
  padding:var(--spacing-xl);
  margin-right: 0;
  margin-left: 0;
  border-width:var(--spacing-s) ;
  font-size:var(--font-size-m);
  background-color: var(--inverse-lightest);
}
.Utilities-text--color{
  color: var(--secondary);
}
.width-color{
  background-color: var(--inverse-lightest);
}
.height-color{
  background-color: var(--inverse-lightest);
}
.height{
  height: 100px;
  background-color:  var(--secondary);;
}
.Utilities-overflow{
  background-color:var(--inverse-lightest);
  width: 200px;
  height: 100px;
  border: var(--spacing-xs) dotted black;
}

.sbdocs.sbdocs-wrapper {
  padding: 0 !important;
}

table.docblock-argstable {
  border-collapse: collapse;
  border-radius: 4px;
  border-style: hidden; 
  box-shadow: 0 0 0 1px var(--secondary-light);
}

table.docblock-argstable tbody {
  box-shadow: none !important;
  border-top: var(--spacing-xs) solid var(--secondary-light);
}
