@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 120ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.fade-out {
  animation: fadeOut 120ms cubic-bezier(0.4, 0.14, 0.3, 1);
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
