@keyframes MdsFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes MdsFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Mds-fade-in {
  animation: MdsFadeIn 120ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.Mds-fade-out {
  animation: MdsFadeOut 120ms cubic-bezier(0.4, 0.14, 0.3, 1);
}
