@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn var(--duration--fast-02) var(--standard-productive-curve);
}

.fade-out {
  animation: fadeOut var(--duration--fast-02) var(--standard-expressive-curve);
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

@keyframes exitLeftCurve {
  from {
    opacity: 1;
    left: 0;
  }

  to {
    opacity: 0;
    left: calc(-1 * var(--spacing-2));
  }
}

@keyframes entryLeftCurve {
  from {
    left: var(--spacing-2);
  }

  to {
    left: 0;
  }
}

@keyframes exitRightCurve {
  from {
    opacity: 1;
    left: 0;
  }

  to {
    opacity: 0;
    left: var(--spacing-2);
  }
}

@keyframes entryRightCurve {
  from {
    left: calc(-1 * var(--spacing-2));
  }

  to {
    left: 0;
  }
}

.slideOut-left {
  animation: exitLeftCurve var(--duration--moderate-02) var(--exit-expressive-curve);
  animation-fill-mode: forwards;
}

.slideIn-left {
  animation: fadeIn var(--duration--moderate-01) var(--entrance-expressive-curve),
    entryLeftCurve var(--duration--moderate-02) var(--entrance-expressive-curve);
}

.slideOut-right {
  animation: exitRightCurve var(--duration--moderate-02) var(--exit-expressive-curve);
  animation-fill-mode: forwards;
}

.slideIn-right {
  animation: fadeIn var(--duration--moderate-01) var(--entrance-expressive-curve),
    entryRightCurve var(--duration--moderate-02) var(--entrance-expressive-curve);
}

@keyframes exitCurve {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: calc(-1 * var(--spacing));
    opacity: 0;
  }
}

@keyframes entryCurve {
  from {
    top: var(--spacing);
  }

  to {
    top: 0;
  }
}

.slideOut-up {
  animation: exitCurve var(--duration--moderate-02) var(--exit-expressive-curve);
}

.slideIn-up {
  animation-delay: var(--duration--moderate-02);
  animation: fadeIn var(--duration--moderate-01) var(--entrance-expressive-curve),
    entryCurve var(--duration--moderate-02) var(--entrance-expressive-curve);
}
