.table-of-content {
  width: var(--spacing-10);
}

.toc-link {
  text-decoration: none;
  font-size: var(--font-size);
  color: var(--inverse);
  padding: var(--spacing) 0;
  display: inline-block;
}

.right-nav-container {
  height: max-content;
  border-left: var(--border);
}

.active-link {
  font-weight: var(--font-weight-bold);
}

.table-of-content-list {
  list-style: none;
  padding-left: 16px;
}

.active-link::before {
  content: '';
  display: block;
  width: 2px;
  height: 36px;
  background: #000;
  position: absolute;
  left: 0;
  background: var(--primary);
  border-radius: 0 1px 1px 0;
}
