/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  border-radius: var(--spacing);
  border: var(--spacing-xs) solid var(--secondary-lightest);
  position: relative;
  background-color: var(--secondary-light);
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
  display: flex;
  align-items: flex-start;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
  display: flex;
  justify-content: space-between;
}

code[class*='language-'] {
  background: transparent !important;
  white-space: pre-wrap !important;
}
