@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(MaterialSymbolsOutlined.ttf);
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  src: url(MaterialSymbolsRounded.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;    /* preferred icon size */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 24px; /* Preferred icon size */
}

.material-icons-rounded {
  font-family: 'Material Symbols Rounded';
  font-size: 24px; /* Preferred icon size */
}
