.Table-container {
  display: flex;
  height: 100%;
}

.Table-filters {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  width: var(--spacing-640);
  padding: 0 var(--spacing-30);
}

.Table-filtersHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Table-filter {
  padding: var(--spacing-20) 0;
}

.Table-filter:first-of-type {
  padding-top: var(--spacing-30);
}

.Table-filter:last-of-type {
  padding-bottom: var(--spacing-30);
}

.Table-filter .Input {
  min-width: unset;
}

.Table-filter-panel {
  width: calc(100% - var(--spacing-640));
}
