.ActionButton {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  color: var(--inverse-lighter);
  border-radius: var(--border-radius-full);
  padding: var(--spacing-05);
}

.ActionButton:focus-visible,
.ActionButton:focus {
  outline: 2px solid #0070dd;
  outline-offset: 2px;
}

.ActionButton:hover {
  background-color: var(--secondary);
}

.ActionButton:active {
  background-color: var(--secondary-dark);
}
