/* Avatar */

.Avatar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 50%;
  cursor: default;
  position: relative;
}

.Avatar--default:focus,
.Avatar--default:focus-visible {
  outline: 3px solid var(--primary-shadow);
  outline-offset: 3px;
}

.Avatar-wrapper--square {
  padding: var(--spacing-xs);
  box-sizing: border-box;
}

.Avatar--square {
  width: 100%;
  height: 100%;
  border-radius: var(--spacing-m);
}

.Avatar--regular {
  height: var(--spacing-3);
  width: var(--spacing-3);
}

.Avatar--tiny {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
}

.Avatar--noInitials {
  cursor: default;
}

.Avatar--disabled {
  cursor: not-allowed;
}

.Avatar--disabled::after {
  opacity: var(--opacity-20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  content: '';
  background-color: var(--white);
}

.Avatar--primary {
  background: var(--primary);
}

.Avatar--secondary {
  background: var(--secondary-light);
}

.Avatar--success {
  background: var(--success);
}

.Avatar--alert {
  background: var(--alert);
}

.Avatar--warning {
  background: var(--warning);
}

.Avatar--accent1 {
  background: var(--accent1);
}

.Avatar--accent2 {
  background: var(--accent2);
}

.Avatar--accent3 {
  background: var(--accent3);
}

.Avatar--accent4 {
  background: var(--accent4);
}

.Avatar-content--tiny {
  line-height: var(--font-height-s) !important;
  font-size: 10px !important;
}

.Avatar-content {
  color: var(--inverse) !important;
  opacity: var(--opacity-20);
  mix-blend-mode: multiply;
}

.Avatar-subtle--primary {
  color: var(--primary-darker);
  background: var(--primary-lightest);
}

.Avatar-subtle--secondary {
  color: var(--text);
  background: var(--secondary-light);
}

.Avatar-subtle--success {
  color: var(--success-darker);
  background: var(--success-lightest);
}

.Avatar-subtle--alert {
  color: var(--alert-darker);
  background: var(--alert-lightest);
}

.Avatar-subtle--warning {
  color: var(--warning-darker);
  background: var(--warning-lightest);
}

.Avatar-subtle--accent1 {
  color: var(--accent1-darker);
  background: var(--accent1-lightest);
}

.Avatar-subtle--accent2 {
  color: var(--accent2-darker);
  background: var(--accent2-lightest);
}

.Avatar-subtle--accent3 {
  color: var(--accent3-darker);
  background: var(--accent3-lightest);
}

.Avatar-subtle--accent4 {
  color: var(--accent4-darker);
  background: var(--accent4-lightest);
}
