/* badge */

.Avatar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 50%;
}

.Avatar .Heading {
  font-weight: var(--font-weight-medium);
}

.Avatar--primary {
  background: var(--primary);
}

.Avatar--success {
  background: var(--success-light);
}

.Avatar--alert {
  background: var(--alert-light);
}

.Avatar--warning {
  background: var(--warning-light);
}

.Avatar--warning .Heading {
  color: #745006;
}

.Avatar--accent1 {
  background: var(--accent1-light);
}

.Avatar--accent2 {
  background: var(--accent2-light);
}

.Avatar--accent3 {
  background: var(--accent3-light);
}

.Avatar--accent4 {
  background: var(--accent4-light);
}