.AvatarGroup-item {
  margin-right: calc((var(--spacing-s) + var(--spacing-m)) * -1);
}

.AvatarGroup-Popper {
  max-width: var(--spacing-9);
  overflow: hidden;
  box-sizing: border-box;
  word-break: break-word;
  hyphens: auto;
}

.AvatarGroup-TextWrapper {
  padding-right: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}

.AvatarGroup-TextWrapper::-webkit-scrollbar {
  width: var(--spacing);
}

.AvatarGroup-TextWrapper::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: var(--spacing-m);
}