.AvatarGroup-item {
  border-radius: 50%;
  position: relative;
}

.AvatarGroup-item--regular {
  margin-right: calc(var(--spacing-m) * -1);
  height: var(--spacing-3);
}

.AvatarGroup-item--tiny {
  margin-right: calc(var(--spacing-s) * -1);
  height: var(--spacing-xl);
}

.AvatarGroup-Popper {
  max-width: var(--spacing-9);
  overflow: hidden;
  box-sizing: border-box;
  word-break: break-word;
  hyphens: auto;
}

.AvatarGroup-TextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.AvatarCount-wrapper {
  border-radius: 50%;
  position: relative;
}

.AvatarCount-wrapper:focus,
.AvatarCount-wrapper:focus-visible {
  outline: 3px solid var(--primary-shadow);
  outline-offset: 3px;
}
