/* Avatar */

.Avatar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 50%;
  cursor: default;
  position: relative;
}

.Avatar--default:focus,
.Avatar--default:focus-visible {
  outline: 3px solid var(--primary-shadow);
  outline-offset: 3px;
}

.Avatar-wrapper--square {
  padding: var(--spacing-xs);
  box-sizing: border-box;
}

.Avatar--square {
  width: 100%;
  height: 100%;
  border-radius: var(--spacing-m);
}

.Avatar--regular {
  height: var(--spacing-3);
  width: var(--spacing-3);
}

.Avatar--tiny {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
}

.Avatar--noInitials {
  cursor: default;
}

.Avatar--disabled {
  cursor: not-allowed;
}

.Avatar--disabled::after {
  opacity: var(--opacity-20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  content: '';
  background-color: var(--white);
}

.Avatar--primary {
  background: var(--primary);
}

.Avatar--secondary {
  background: var(--secondary-light);
}

.Avatar--success {
  background: var(--success);
}

.Avatar--alert {
  background: var(--alert);
}

.Avatar--warning {
  background: var(--warning);
}

.Avatar--accent1 {
  background: var(--accent1);
}

.Avatar--accent2 {
  background: var(--accent2);
}

.Avatar--accent3 {
  background: var(--accent3);
}

.Avatar--accent4 {
  background: var(--accent4);
}

.Avatar-content--tiny {
  line-height: var(--font-height-s) !important;
  font-size: 10px !important;
}

.Avatar-content {
  color: var(--inverse) !important;
  opacity: var(--opacity-20);
  mix-blend-mode: multiply;
}

.Avatar-presence {
  position: absolute;
  border-radius: 50%;
  width: var(--spacing);
  height: var(--spacing);
  right: 0;
  bottom: 0;
}

.Avatar-presence--active {
  background: var(--success);
}

.Avatar-presence--away {
  background: var(--secondary-dark);
}

.Avatar-status {
  top: calc(-1 * var(--spacing-s));
  right: calc(-1 * var(--spacing-s));
  width: var(--spacing-l);
  height: var(--spacing-l);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}
