@keyframes backdrop-open {
  from { opacity: 0; }
  to { opacity: 60; }
}

@keyframes backdrop-close {
  from { opacity: 60; }
  to { opacity: 0; }
}

.Backdrop {
  background-color: color-mod(var(--inverse) a(0.8));
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  z-index: 999999;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  touch-action: none;
  visibility: hidden;
}

.Backdrop--open {
  display: flex;
  visibility: visible;
}

.Backdrop-animation--open {
  animation: backdrop-open 120ms cubic-bezier(0, 0, 0.3, 1);
}

.Backdrop-animation--close {
  animation: backdrop-close 120ms cubic-bezier(0.4, 0.14, 1, 1);
}


