/* badge */

.Mds-Badge {
  /* 160px */
  max-width: calc(var(--spacing-2) * 10);
  /* truncate */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-s);
  line-height: var(--font-height-s);
  text-transform: uppercase;
  padding-right: var(--spacing-m);
  padding-left: var(--spacing-m);
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  border-radius: var(--spacing-m);
  display: inline-block;
  box-sizing: border-box;
  font-weight: var(--font-weight-bold);
  cursor: default;
}

.Mds-Badge--primary {
  background: var(--primary);
  color: var(--white);
}

.Mds-Badge--secondary {
  background: var(--secondary-light);
}

.Mds-Badge--success {
  background: var(--success);
  color: var(--white);
}

.Mds-Badge--alert {
  background: var(--alert);
  color: var(--white);
}

.Mds-Badge--warning {
  background: var(--warning);
  color: var(--warning-darker);
}

.Mds-Badge--accent1 {
  background: var(--accent1);
  color: var(--white);
}

.Mds-Badge--accent2 {
  background: var(--accent2);
  color: var(--white);
}

.Mds-Badge--accent3 {
  background: var(--accent3);
  color: var(--white);
}

.Mds-Badge--accent4 {
  background: var(--accent4);
  color: var(--accent4-darker);
}

.Mds-Badge--subtle-primary {
  color: var(--primary-dark);
  background: var(--primary-lightest);
}

.Mds-Badge--subtle-secondary {
  background: var(--secondary-light);
}

.Mds-Badge--subtle-success {
  color: var(--success-dark);
  background: var(--success-lightest);
}

.Mds-Badge--subtle-alert {
  color: var(--alert-dark);
  background: var(--alert-lightest);
}

.Mds-Badge--subtle-warning {
  color: var(--warning-darker);
  background: var(--warning-lightest);
}

.Mds-Badge--subtle-accent1 {
  color: var(--accent1-darker);
  background: var(--accent1-lightest);
}

.Mds-Badge--subtle-accent2 {
  color: var(--accent2-dark);
  background: var(--accent2-lightest);
}

.Mds-Badge--subtle-accent3 {
  color: var(--accent3-dark);
  background: var(--accent3-lightest);
}

.Mds-Badge--subtle-accent4 {
  color: var(--accent4-darker);
  background: var(--accent4-lightest);
}
