/* badge */

.Badge {
	/* 160px */
	max-width: calc(var(--spacing-2) * 10);
	/* truncate */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--font-size-s);
	line-height: var(--font-height-s);
	text-transform: uppercase;
	padding-right: var(--spacing-m);
	padding-left: var(--spacing-m);
	padding-top: var(--spacing-s);
	padding-bottom: var(--spacing-s);
	border-radius: var(--spacing-m);
	display: inline-block;
	box-sizing: border-box;
	font-weight: var(--font-weight-bold);
	cursor: default;
}

.Badge--primary {
	background: var(--primary);
	color: var(--white);
}

.Badge--secondary {
	background: var(--secondary);
}

.Badge--success {
	background: var(--success);
	color: var(--white);
}

.Badge--alert {
	background: var(--alert);
	color: var(--white);
}

.Badge--warning {
	background: var(--warning);
}

.Badge--accent1 {
	background: var(--accent1);
	color: var(--white);
}

.Badge--accent2 {
	background: var(--accent2);
	color: var(--white);
}

.Badge--accent3 {
	background: var(--accent3);
	color: var(--white);
}

.Badge--accent4 {
	background: var(--accent4);
}

.Badge--subtle-primary {
	color: var(--primary-darker);
	background: var(--primary-lightest);
}

.Badge--subtle-secondary {
	color: var(--stone-darker);
	background: var(--secondary-lightest);
}

.Badge--subtle-success {
	color: var(--success-darker);
	background: var(--success-lightest);
}

.Badge--subtle-alert {
	color: var(--alert-darker);
	background: var(--alert-lightest);
}

.Badge--subtle-warning {
	color: var(--warning-darker);
	background: var(--warning-lightest);
}

.Badge--subtle-accent1 {
	color: var(--accent1-darker);
	background: var(--accent1-lightest);
}

.Badge--subtle-accent2 {
	color: var(--accent2-darker);
	background: var(--accent2-lightest);
}

.Badge--subtle-accent3 {
	color: var(--accent3-darker);
	background: var(--accent3-lightest);
}

.Badge--subtle-accent4 {
	color: var(--accent4-darker);
	background: var(--accent4-lightest);
}
