/* breadcrumbs */

.BreadcrumbsWrapper {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    background: var(--white);

    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
}

.BreadcrumbsWrapper-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.Breadcrumb {
    display: flex;
    font-size: var(--font-size-s);
}

.Breadcrumb::after {
    content: "/";
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
    color: var(--inverse-light);
}

.Breadcrumb-link {
    color: var(--inverse-light);
    cursor: pointer;
}