/* breadcrumbs */

.Breadcrumbs {
  display: flex;
  align-items: center;
}

.Breadcrumbs-item {
  display: flex;
  align-items: center;
}

.Breadcrumbs-link {
  margin: var(--spacing-m);
}

.Breadcrumbs-item:first-child .Breadcrumbs-link {
  margin-left: 0;
}

.Breadcrumbs-itemSeparator {
  color: var(--inverse-light);
}

.Breadcrumbs-dropdown {
  display: flex;
  align-items: center;
}

.SubtleLink {
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-s);
  color: var(--inverse-light);
  font-weight: var(--font-weight-medium);
}

.SubtleLink:focus {
  background: white;
  outline: 0;
}

.SubtleLink:hover {
  text-decoration: underline;
}

.SubtleLink:active {
  color: var(--text);
}
