.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: var(--border-radius-10);

  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);

  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--font-height-s);
  color: var(--text-white);

  transition: var(--duration--fast-01) var(--standard-productive-curve);
}

.Button:disabled {
  cursor: not-allowed;
}

.Button:focus {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--iconAlign-right {
  flex-direction: row-reverse;
}

.Button-regularIcon--left {
  margin-left: calc(-1 * var(--spacing-05));
}

.Button-regularIcon--right {
  margin-right: calc(-1 * var(--spacing-05));
}

.Button--tiny {
  height: var(--spacing-60);
  padding-right: var(--spacing-20);
  padding-left: var(--spacing-20);
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
}

.Button--tinySquare {
  width: var(--spacing-60);
}

.Button--regular {
  height: var(--spacing-80);
  padding-right: var(--spacing-30);
  padding-left: var(--spacing-30);
}

.Button--regularSquare {
  width: var(--spacing-80);
}

.Button--large {
  height: 40px;
  padding-right: var(--spacing-40);
  padding-left: var(--spacing-40);

  line-height: var(--font-height-m);
  font-size: var(--font-size-m);
}

.Button--largeSquare {
  width: 40px;
}

.Button--tinySquare .Button-icon,
.Button--largeSquare .Button-icon,
.Button--tinySquare .Spinner,
.Button--largeSquare .Spinner {
  padding-left: var(--spacing-05);
  padding-right: var(--spacing-05);
}

.Button--expanded {
  width: 100%;
}

.Button-icon {
  line-height: inherit;
  display: flex;
  align-items: center;
}

.Button-icon--left {
  margin-right: var(--spacing-15);
}

.Button-icon--right {
  margin-left: var(--spacing-15);
}

.Button--tiny .Button-icon--left {
  margin-right: var(--spacing-10);
}
.Button--tiny .Button-icon--right {
  margin-left: var(--spacing-10);
}

.Button--basic {
  background: var(--secondary-light);
  color: var(--inverse);
}

.Button--basic:hover {
  background: var(--secondary);
}

.Button--basic:active {
  background: var(--secondary-dark);
}

.Button--basic:focus {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--basic:disabled {
  background: var(--secondary-lighter);
  color: var(--inverse-lightest);
}

.Button--primary {
  background: var(--primary);
}

.Button--primary:hover {
  background: var(--primary-dark);
}

.Button--primary:active {
  background: var(--primary-darker);
}

.Button--primary:focus {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--primary:disabled {
  background: var(--primary-lighter);
}

.Button--success {
  background: var(--primary);
}

.Button--success:hover {
  background: var(--primary-dark);
}

.Button--success:active {
  background: var(--primary-darker);
}

.Button--success:focus {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--success:disabled {
  background: var(--primary-lighter);
}

.Button--alert {
  background: var(--alert);
}

.Button--alert:hover {
  background: var(--alert-dark);
}

.Button--alert:active {
  background: var(--alert-darker);
}

.Button--alert:focus {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--alert:disabled {
  background: var(--alert-lighter);
}

.Button--transparent {
  background: transparent;
  color: var(--inverse);
}

.Button--transparent:hover {
  background: var(--secondary);
}

.Button--transparent:focus {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--transparent:active {
  background: var(--secondary-dark);
}

.Button--transparent:focus:active {
  background: var(--secondary-dark);
}

.Button--transparent:disabled {
  background: transparent;
  color: var(--inverse-lightest);
}

.Button-spinner {
  display: flex;
  position: absolute;
  z-index: 1;
}

.Button--selected {
  background: var(--primary-lightest);
  color: var(--primary-dark);
}

.Button--selected:hover {
  background: var(--primary-lighter);
}

.Button--selected:active {
  background: var(--primary-lighter);
  color: var(--primary-darker);
}

.Button--selected:focus {
  background: var(--primary-lightest);
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button--selected:focus:active {
  background: var(--primary-lighter);
}

.Button--selected:disabled {
  background: var(--primary-lightest);
  color: var(--primary-lighter);
}

.Button-text--hidden {
  visibility: hidden;
}

.Button-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* outlined button styles */

.Button-outlined--basic {
  border: var(--border);
  color: var(--inverse);
  background: transparent;
}

.Button-outlined--basic:hover {
  background: var(--secondary-lighter);
  border: var(--border-width-2-5) solid var(--inverse-lightest);
}

.Button-outlined--basic:active {
  background: var(--secondary);
  border: var(--border-width-2-5) solid var(--inverse-lightest);
}

.Button-outlined--basic:focus {
  border: var(--border-width-2-5) solid var(--primary);
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button-outlined--basic:disabled {
  color: var(--inverse-lightest);
  background: transparent;
  border: var(--border-width-2-5) solid var(--secondary);
}

.Button-outlined--selected {
  background: var(--primary-ultra-light);
  color: var(--primary-dark);
  border: var(--border-width-2-5) solid var(--primary-lighter);
}

.Button-outlined--selected:hover {
  background: var(--primary-lightest);
  border: var(--border-width-2-5) solid var(--primary-lighter);
}

.Button-outlined--selected:active {
  background: var(--primary-lighter);
  color: var(--primary-darker);
  border: var(--border-width-2-5) solid var(--primary);
}

.Button-outlined--selected:focus {
  color: var(--primary-dark);
  border: var(--border-width-2-5) solid var(--primary);
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button-outlined--selected:disabled {
  background: var(--primary-ultra-light);
  color: var(--primary-lighter);
  border: var(--border-width-2-5) solid var(--primary-lightest);
}

.Button-outlined--primary {
  background: transparent;
  border: var(--border-width-2-5) solid var(--primary);
  color: var(--primary);
  mix-blend-mode: multiply;
}

.Button-outlined--primary:hover {
  background: var(--primary-ultra-light);
  border: var(--border-width-2-5) solid var(--primary-dark);
  color: var(--primary-dark);
}

.Button-outlined--primary:active {
  background: var(--primary-lightest);
  border: var(--border-width-2-5) solid var(--primary-dark);
  color: var(--primary-dark);
}

.Button-outlined--primary:focus {
  border: var(--border-width-2-5) solid var(--primary);
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button-outlined--primary:disabled {
  background: transparent;
  color: var(--primary-lighter);
  border: var(--border-width-2-5) solid var(--primary-lighter);
}

.Button-outlined--alert {
  background: transparent;
  border: var(--border-width-2-5) solid var(--alert);
  color: var(--alert);
  mix-blend-mode: multiply;
}

.Button-outlined--alert:hover {
  background: var(--alert-ultra-light);
  border: var(--border-width-2-5) solid var(--alert-dark);
  color: var(--alert-dark);
}

.Button-outlined--alert:active {
  background: var(--alert-lightest);
  border: var(--border-width-2-5) solid var(--alert-dark);
  color: var(--alert-dark);
}

.Button-outlined--alert:focus {
  border: var(--border-width-2-5) solid var(--alert);
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.Button-outlined--alert:disabled {
  background: transparent;
  color: var(--alert-lighter);
  border: var(--border-width-2-5) solid var(--alert-lighter);
}
