/* button */

.Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 0;
    border-radius: var(--spacing-m);

    padding-top: var(--spacing);
    padding-bottom: var(--spacing);

    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size);
    line-height: var(--font-height-s);
    color: var(--text-white);
	
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Button--iconAlign-right {
    flex-direction: row-reverse;
}

.Button--tiny {
    height: 24px;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
}

.Button--tiny.Button--square {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

.Button--regular {
    height: 32px;
    padding-right: var(--spacing-l);
	padding-left: var(--spacing-l);
}

.Button--regular.Button--square {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

.Button--large {
    height: 40px;
    padding-right: var(--spacing-2);
    padding-left: var(--spacing-2);
    
    line-height: var(--font-height-m);
    font-size: var(--font-size-m);
}

.Button--large.Button--square {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

.Button--tiny.Button--square .Button-icon,
.Button--large.Button--square .Button-icon,
.Button--tiny.Button--square .Spinner,
.Button--large.Button--square .Spinner {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
}

.Button--expanded {
    width: 100%;
}

.Button-icon {
    line-height: inherit;
    display: flex;
    align-items: center;
}

.Button-icon--left {
    margin-right: var(--spacing);
}

.Button-icon--right {
    margin-left: var(--spacing);
}

.Button--tiny .Button-icon--left {
    margin-right: var(--spacing-m);
}
.Button--tiny .Button-icon--right {
    margin-left: var(--spacing-m);
}

.Button--basic {
	background: var(--secondary-light);
	color: var(--inverse);
}

.Button--basic:hover {
	background: var(--secondary);
}

.Button--basic:active {
	background: var(--secondary-dark);
}

.Button--basic:focus {
    box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.Button--basic:disabled {
    background: var(--secondary-lighter);
    color: var(--inverse-lightest);
}

.Button--primary {
	background: var(--primary);
}

.Button--primary:hover {
	background: var(--primary-dark);
}

.Button--primary:active {
	background: var(--primary-darker);
}

.Button--primary:focus {
    box-shadow: var(--shadow-spread) var(--primary-shadow);
}

.Button--primary:disabled {
    background: var(--primary-lighter);
}

.Button--success {
	background: var(--success);
}

.Button--success:hover {
	background: var(--success-dark);
}

.Button--success:active {
	background: var(--success-darker);
}

.Button--success:focus {
    box-shadow: var(--shadow-spread) var(--success-shadow);
}

.Button--success:disabled {
    background: var(--success-lighter);
}

.Button--alert {
	background: var(--alert);
}

.Button--alert:hover {
	background: var(--alert-dark);
}

.Button--alert:active {
	background: var(--alert-darker);
}

.Button--alert:focus {
    box-shadow: var(--shadow-spread) var(--alert-shadow);
}

.Button--alert:disabled {
    background: var(--alert-lighter);
}

.Button--transparent {
	background: transparent;
	color: var(--inverse);
}

.Button--transparent:hover {
	background: var(--secondary-light);
}

.Button--transparent:active {
	background: var(--secondary);
}

.Button--transparent:focus {
    background: color-mod(var(--stone-light) a(0.2));
    /* box-shadow: var(--shadow-spread) var(--secondary-shadow); */
}

.Button--transparent:disabled {
    background: transparent;
    color: var(--inverse-lightest);
}

.Button .Spinner {
    margin-right: var(--spacing);
}

.Button--square .Spinner {
    margin-right: 0 !important;
}

.Button--tiny .Spinner {
    margin-right: var(--spacing-m);
}

.Button--tiny .Spinner--small {
    height: var(--font-size-s);
    width: var(--font-size-s);
}

.Button--large .Spinner--small {
    height: var(--font-size-l);
    width: var(--font-size-l);
}