/* calendar */

.Calendar-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Calendar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Calendar--small {
  padding: var(--spacing-l);
  padding-bottom: var(--spacing);
  width: 212px;
}

.Calendar--date--small {
  height: 248px;
}

.Calendar--month--small {
  height: 208px;
}

.Calendar--year--small {
  height: 208px;
}

.Calendar--large {
  padding-top: var(--spacing-2);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-l);
  width: 316px;
}

.Calendar--date--large {
  height: 324px;
}

.Calendar--month--large {
  height: 274px;
}

.Calendar--year--large {
  height: 274px;
}

.Calendar-header--large {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--spacing-l);
}

.Calendar-header--small {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--spacing-m);
}

.Calendar-headerIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.Calendar-headerIcon--prev {
  left: 0;
}

.Calendar-headerIcon--next {
  right: 0;
}

.Calendar-headerContent {
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  user-select: none;
}

.Calendar-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.Calendar-valueRow {
  display: flex;
  justify-content: space-around;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

.Calendar-valueWrapper {
  display: inline-flex;
  flex: 1 0 0;
  justify-content: center;
  position: relative;
}

.Calendar-valueWrapper--inRange {
  background: var(--primary-lightest);
}

.Calendar-valueWrapper--inRangeError {
  background: var(--alert-lightest);
}

.Calendar-valueWrapper--start {
  background: linear-gradient(90deg, white 50%, var(--primary-lightest) 50%);
  border-radius: var(--spacing-m) 0 0 var(--spacing-m);
}

.Calendar-valueWrapper--startError {
  background: linear-gradient(90deg, white 50%, var(--alert-lightest) 50%);
}

.Calendar-valueWrapper--end {
  background: linear-gradient(90deg, var(--primary-lightest) 50%, white 50%);
  border-radius: 0 var(--spacing-m) var(--spacing-m) 0;
}

.Calendar-valueWrapper--endError {
  background: linear-gradient(90deg, var(--alert-lightest) 50%, white 50%);
}

.Calendar-valueWrapper--startEnd {
  background: transparent;
}

.Calendar-value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: var(--spacing-m);
}

.Calendar-value:hover {
  background: var(--secondary);
}

.Calendar-value--start:hover,
.Calendar-value--end:hover {
  background: var(--primary-lightest);
}

.Calendar-value--startError:hover,
.Calendar-value--endError:hover {
  background: var(--alert-lightest);
}

.Calendar-value--start,
.Calendar-value--end {
  background: var(--primary-lightest);
}

.Calendar-value--startError,
.Calendar-value--endError {
  background: var(--alert-lightest);
}

.Calendar-value--currDateMonthYear,
.Calendar-value--currDateMonthYear:hover {
  background: var(--primary-lightest) !important;
}

.Calendar-value--active,
.Calendar-value--active:hover {
  background: var(--primary) !important;
  font-weight: var(--font-weight-bold);
}

.Calendar-yearValue,
.Calendar-monthValue {
}

.Calendar-yearValue--small,
.Calendar-monthValue--small {
  height: var(--spacing-xl);
  width: var(--spacing-4);
}

.Calendar-yearValue--large,
.Calendar-monthValue--large {
  height: var(--spacing-3);
  width: var(--spacing-5);
}

.Calendar-dateValue {
}

.Calendar-dateValue--small {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
}

.Calendar-dateValue--large {
  height: var(--spacing-3);
  width: var(--spacing-3);
}

.Calendar-valueWrapper--dummy {
  opacity: 0.58;
}

.Calendar-value--disabled {
  pointer-events: none;
}

.Calendar-dayValues {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.Calendar-dateValues {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.Calendar-dayValues .Calendar-value {
  padding: 0;
}

.Calendar-eventsIndicator {
  position: absolute;
  bottom: var(--spacing-s);
  width: var(--spacing-m);
  height: var(--spacing-m);
  background-color: var(--alert);
  border-radius: 50%;
}
.Calendar-eventsIndicator--small {
  width: 3px;
  height: 3px;
}
.Calendar-eventsIndicator--active {
  background-color: var(--white);
}
