/* calendar */

.Calendar-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.Calendar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: var(--spacing-l);
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    padding-bottom: var(--spacing);
}

.Calendar-header {
    display: flex;
    padding-bottom: var(--spacing-m);
}

.Calendar-headerIcon {
    padding: var(--spacing);
    cursor: pointer;
    user-select: none;
}

.Calendar-headerIcon--disabled .Icon {
    color: var(--text-disabled);
    pointer-events: none;
}

.Calendar-headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    cursor: pointer;
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    user-select: none;
}

.Calendar-headerContent--noIcon-left {
    margin-left: var(--spacing-3);
}

.Calendar-headerContent--noIcon-right {
    margin-right: var(--spacing-3);
}

.Calendar-body {
    display: flex;
    flex-direction: column;
}

.Calendar-valueRow {
    display: flex;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    justify-content: center;
}

.Calendar-valueRow:first-child {
    margin-top: 0 !important;
}

.Calendar-valueRow:last-child {
    margin-bottom: 0 !important;
}

.Calendar-valueRow .Calendar-value:first-child {
    margin-left: 0 !important;
}

.Calendar-valueRow .Calendar-value:last-child {
    margin-right: 0 !important;
}

.Calendar-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
    cursor: pointer;
    user-select: none;
    border-radius: var(--spacing-m);
    width: var(--value-width);
}

.Calendar-value:first-child {
    margin-left: 0;
}

.Calendar-value:last-child {
    margin-right: 0;
}

.Calendar-value:hover {
    background: var(--secondary);
}

.Calendar-valueWrapper {
    display: inline-flex;
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

.Calendar-valueWrapper--start {
    padding-left: 0;
    margin-left: var(--spacing-m);
    border-radius: var(--spacing-m) 0 0 var(--spacing-m);
}

.Calendar-valueWrapper--end {
    padding-right: 0;
    margin-right: var(--spacing-m);
    border-radius: 0 var(--spacing-m) var(--spacing-m) 0;
}

.Calendar-valueWrapper:first-child {
    border-radius: var(--spacing-m) 0 0 var(--spacing-m);
    padding-left: 0;
    margin-left: 0;
}

.Calendar-valueWrapper:last-child {
    border-radius: 0 var(--spacing-m) var(--spacing-m) 0;
    padding-right: 0;
    margin-right: 0;
}

.Calendar-valueWrapper--inRange .Calendar-value:hover {
    background: transparent;
}

.Calendar-valueWrapper--inRange,
.Calendar-valueWrapper--inRange:hover {
    background: var(--primary-lightest);
}

.Calendar-valueWrapper--inRange-error,
.Calendar-valueWrapper--inRange-error:hover {
    background: var(--alert-lightest);
}

.Calendar-value--active,
.Calendar-value--active:hover {
    background: var(--primary) !important;
}

.Calendar--year .Calendar-value,
.Calendar--month .Calendar-value {
    --value-width: var(--spacing-5);
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-2);
}

.Calendar--date {
    --value-width: var(--spacing-3);
}

.Calendar--date .Calendar-valueRow {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
}

.Calendar--date .Calendar-value {
    height: var(--value-width);
    text-align: center;
}

.Calendar-value--dummy {
    pointer-events: none;
}

.Calendar-value--disabled {
    pointer-events: none;
}

.Calendar-dayValues {
    display: flex;
    justify-content: center;
}

.Calendar-dayValues .Calendar-value {
    padding: 0;
}