/* badge */

.Card {
  border-radius: var(--spacing-m);
  border: var(--spacing-xs) solid var(--secondary-light);
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}

.Card--default,
.Card--light,
.Card--medium,
.Card--dark {
  border: none;
  box-shadow: var(--shadow-s);
}

.Card--shadow10 {
  border: none;
  box-shadow: var(--shadow-s);
}

.Card--shadow20 {
  border: none;
  box-shadow: var(--shadow-m);
}

.Card--shadow30 {
  border: none;
  box-shadow: var(--shadow-l);
}

.Card-header {
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-l) var(--spacing-2);
}

.Card-body {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.Card-footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--spacing-2);
}

.Card-footer--withSeperator {
  border-top: var(--spacing-xs) solid var(--secondary-light);
}
