/* badge */

.Card {
  border-radius: var(--spacing);
  border: var(--spacing-xs) solid var(--secondary-light);
}

.Card--shadow-light,
.Card--shadow-medium,
.Card--shadow-dark {
  border: none;
  box-shadow: var(--shadow-s);
}
