.CardSubdued {
  background: var(--card-subdued-bg);
  padding: var(--spacing-40);
}

.CardSubdued--top {
  border-top: var(--spacing-2-5) solid var(--secondary-light);
}

.CardSubdued--left {
  border-left: var(--spacing-2-5) solid var(--secondary-light);
}

.CardSubdued--right {
  border-right: var(--spacing-2-5) solid var(--secondary-light);
}

.CardSubdued--bottom {
  border-bottom: var(--spacing-2-5) solid var(--secondary-light);
}
