.Box {
  width: 100%;
  border-radius: var(--border-radius-20);
  padding: var(--spacing-30);
}

.Box--typing {
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);
}

.Box--incoming {
  border: var(--border-width-2-5) solid var(--secondary-light);
  background-color: var(--white);
}

.Box--outgoing {
  background-color: var(--secondary-lightest);
}

.Box-incoming--withStatus {
  border-bottom-left-radius: 0;
}

.Box-outgoing--withStatus {
  border-bottom-right-radius: 0;
}

.Box--urgent {
  border-color: var(--alert);
}

.ChatMessage-status {
  margin-top: var(--spacing-10);
  display: block;
}
