/* badge */

.Checkbox {
    display: flex;
    cursor: pointer;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: initial;
    box-sizing: border-box;
}

.Checkbox-input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
}

.Checkbox-label {
    padding-left: var(--spacing);
    cursor: pointer;
}

.Checkbox-label--regular {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
}

.Checkbox-label--tiny {
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

.Checkbox-outerWrapper {
    position: relative;
}

/* Type: Unchecked  */

.Checkbox-wrapper {
    top: 0;
    left: 0;
    border: var(--border);
    border-radius: var(--spacing-s);
    display: flex;
    align-items: center;
    box-sizing: border-box;   
}

.Checkbox-wrapper--regular {
    height: var(--spacing-2);
    min-width: var(--spacing-2);
}

.Checkbox-wrapper--tiny {
    height: var(--spacing);
    min-width: var(--spacing);
}

.Checkbox-input:focus {
    outline: 0;
}

.Checkbox-input:focus~.Checkbox-wrapper {
    box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.Checkbox-input:hover~.Checkbox-wrapper {
    border: var(--spacing-xs) solid var(--inverse-lightest);
    background-color: var(--shadow-0);
}

.Checkbox-input:active~.Checkbox-wrapper {
    border: var(--spacing-xs) solid var(--inverse-lightest);
    background-color: var(--secondary-light);
}

.Checkbox--disabled {
    pointer-events: none;
}

.Checkbox--disabled .Checkbox-wrapper {
    border: var(--spacing-xs) solid var(--secondary-light);
    background-color: var(--secondary-lightest);
}

/* Type: checked && Type: indeterminate  */

.Checkbox-input--checked~.Checkbox-wrapper,
.Checkbox-input--indeterminate~.Checkbox-wrapper {
    background-color: var(--primary);
    border: 0;
}

.Checkbox-input--checked:focus~.Checkbox-wrapper,
.Checkbox-input--indeterminate:focus~.Checkbox-wrapper {
    box-shadow: var(--shadow-spread) var(--primary-shadow);
    background-color: var(--primary);
    border: 0;
}

.Checkbox-input--checked:hover~.Checkbox-wrapper,
.Checkbox-input--indeterminate:hover~.Checkbox-wrapper {
    background-color: var(--primary-dark);
    border: 0;
}

.Checkbox-input--checked:active~.Checkbox-wrapper,
.Checkbox-input--indeterminate:active~.Checkbox-wrapper {
    background-color: var(--primary-darker);
    border: 0;
}

.Checkbox--disabled .Checkbox-input--checked~.Checkbox-wrapper,
.Checkbox--disabled .Checkbox-input--indeterminate~.Checkbox-wrapper {
    background-color: var(--primary-lighter);
    border: 0;
}