.ChipInput {
  display: flex;
  border-radius: var(--border-radius-10);
  border: var(--border);
  background: var(--white);
  cursor: text;
  flex: 100%;
}

.ChipInput--regular {
  padding-left: 10px;
  padding-right: 10px;
}

.ChipInput--small {
  padding-left: var(--spacing-20);
  padding-right: var(--spacing-20);
}

.ChipInput:focus,
.ChipInput:focus-visible {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.ChipInput:hover {
  background: var(--secondary-lighter);
  border-color: var(--secondary-dark);
}

.ChipInput:focus-within {
  background: var(--white);
}

.ChipInput--disabled {
  background: var(--secondary-lightest);
  border-color: var(--secondary-lighter);
  pointer-events: none;
}

.ChipInput--withChips {
  padding-right: var(--spacing-20);
}

.ChipInput--error {
  box-shadow: inset 0 0 0 var(--spacing-2-5) var(--alert);
}

.ChipInput-wrapper {
  display: flex;
  flex: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.ChipInput-border:focus-within {
  border-radius: var(--border-radius-10);
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.ChipInput-border--error:focus-within {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.ChipInput-input {
  border: none;
  outline: none;
  display: flex;
  width: 100%;
  min-width: 15%;
  flex: 0px;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.ChipInput-input--small {
  height: 20px;
  margin-top: var(--spacing-05);
  margin-bottom: var(--spacing-05);
  font-size: var(--font-size-s);
  line-height: var(--font-height-s);
  font-weight: var(--font-weight-medium);
}

.ChipInput-input--regular {
  height: var(--spacing-60);
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.ChipInput:hover .ChipInput-input {
  background: var(--secondary-lighter);
}

.ChipInput:focus-within .ChipInput-input {
  background: var(--white);
}

.ChipInput-iconWrapper {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: var(--spacing-60);
  height: var(--spacing-60);
  flex-shrink: 0;
  cursor: pointer;
  border-radius: var(--border-radius-full);
}

.ChipInput-iconWrapper:hover {
  background-color: var(--secondary);
}

.ChipInput-iconWrapper:active {
  background-color: var(--secondary-dark);
}

.ChipInput-iconWrapper:focus-visible {
  outline: var(--spacing-05) solid var(--primary-focus);
}

.ChipInput-icon {
  color: var(--inverse-lighter);
  border-radius: var(--border-radius-full);
}
