.Chip {
	display: flex;
	box-sizing: border-box;
	border-radius: var( --spacing-l);
	padding-right:var( --spacing) ;
    padding-left: var( --spacing);
	padding-top:var( --spacing-s);
	padding-bottom:var( --spacing-s);
    width: fit-content;
	justify-content: space-between;
	border-style: solid;
	border-color:#D5D5D5;
	border-width: var( --spacing-xs);
	align-items: center;
	flex-direction: row;
    }
.Chip-wrapper{
	
	display: flex;
	align-items: center;
	
}

.Chiplabel {
	font-size: 14px; 
color: #2F2F2F;  
font-family: Nunito Sans; 
font-weight: var(--font-weight-normal); 
text-align: left; 
line-height: 20px;
}
.Chip--disabled {
	color: var(--text-disabled);
  }

.Chip-icon--left {
	
	padding-right: 4px;
	display: flex;
	align-items: center;
	color: #2F2F2F;
}

.Chip-icon--right {

	padding-left: 4px;
	display: flex;
	align-items: center;
	color: #2F2F2F;
}
.Chip-wrapper--disabled {
    background: var(--secondary-lighter);
	color: var(--inverse-lightest);
}


.Chip--basic {
	background: var(--secondary-light);
	color: var(--inverse);
}
.Chip:hover {
	background: #E5E5E5;
	border-color: #D5D5D5;
	border-style: solid;
}

.Chip:active {
	background: #C5C5C5;
}

.Chip:focus {
	box-shadow: var(--shadow-spread) var(--secondary-shadow);
	background:#ECECEC;
}