.Collapsible-wrapper {
  position: relative;
  z-index: 600;
}

.Collapsible-wrapper--overlay {
  margin-right: 40px;
}

.Collapsible {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--secondary-lightest);
  width: var(--spacing-4);
  height: 100%;
  transition: width 240ms;
  transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
}

.Collapsible--overlay {
  position: absolute;
}

.Collapsible-body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.Collapsible-footer {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  box-sizing: border-box;
  display: flex;
}

.Collapsible-footer--seperator {
  border-top: var(--spacing-xs) solid var(--secondary-light);
}
