.Collapsible-wrapper {
  position: relative;
  z-index: 600;
}

.Collapsible-wrapper--overlay {
  margin-right: 40px;
}

.Collapsible {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--secondary-lightest);
  width: 40px;
  height: 100%;
  transition: width var(--duration--moderate-02) var(--standard-expressive-curve);
}

.Collapsible--overlay {
  position: absolute;
}

.Collapsible-body {
  flex-grow: 1;
  overflow-y: auto;
}

.Collapsible-footer {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  box-sizing: border-box;
  display: flex;
}

.Collapsible-footer--seperator {
  border-top: var(--spacing-xs) solid var(--secondary-light);
}
