.Dropdown {
    position: relative;
    min-width: var(--spacing-7);
    width: fit-content;
}

.Dropdown-placeholder .PopperWrapper-trigger {
    width: 100%;
}

.Dropdown-menu {
    min-width: unset;
}

.Dropdown-input {
    border-bottom: var(--border);
}

.Dropdown-input .Input {
    min-width: unset;
}

.Dropdown-input .Input-wrapper,
.Dropdown-input .Input-wrapper:focus-within {
    border: unset;
}

.Dropdown-subinfo {
    font-size: var(--spacing-l);
    color: var(--inverse-light);
    margin-left: var(--spacing-l);
    margin-top: var(--spacing);
    margin-bottom: 6px;
}

.Dropdown-border {
    border-top: var(--spacing-xs) solid var(--secondary-light);
}

.Dropdown-errorWrapper {
    min-height: var(--spacing-7);
}

.Dropdown-buttonWrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--spacing);
    padding-right: var(--spacing-l);
    padding-bottom: var(--spacing);
    border-top: var(--spacing-xs) solid var(--secondary-light);
}

.Option-wrapper,
.Option-loadingWrapper,
.Dropdown-wrapper .ListCheckbox-parentWrapper,
.Dropdown-wrapper .ListCheckbox-childWrapper {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
}

.Option-wrapper:hover,
.Dropdown-wrapper .ListCheckbox-parentWrapper:hover,
.Dropdown-wrapper .ListCheckbox-childWrapper:hover {
    background-color: var(--secondary-lightest);
    cursor: pointer;
}

.Dropdown-wrapper .ListCheckbox-parentWrapper,
.Dropdown-wrapper .ListCheckbox-childWrapper--top {
    padding-top: 10px;
}

.Dropdown-wrapper .ListCheckbox-childWrapper:last-child {
    padding-bottom: 10px;
}

.Dropdown-wrapper .ListCheckbox-childWrapper .Checkbox {
    overflow: hidden;
}

.Dropdown-wrapper-loaderWrapper {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
}

.Option-loadingWrapper {
    pointer-events: none;
}

.Option-wrapper--selected {
    background-color: var(--primary);
    color: var(--white);
    pointer-events: none;
}

.Option-wrapper--top {
    padding-top: 10px;
}

.Option-wrapper--bottom {
    padding-bottom: 10px;
}

.Option-label {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Option-text,
.Dropdown-wrapper .ListCheckbox .Checkbox .Text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Option-text--wrap,
.Dropdown-wrapper--wrap.Dropdown-wrapper .ListCheckbox .Checkbox .Text {
    white-space: unset;
}

.Dropdown-wrapper--wrap.Dropdown-wrapper .ListCheckbox .Checkbox {
    align-items: flex-start;
}

.Option-wrapper--icon {
    padding-left: var(--spacing);
}

.Option-icon {
    margin-top: 3px;
}

.Option-subinfo {
    font-size: var(--spacing-l);
    color: var(--inverse-light);
}

.Option-wrapper--selected .Option-subinfo {
    color: var(--white);
}

.Scroller-wrapper::-webkit-scrollbar,
.ListCheckbox-scroller::-webkit-scrollbar {
    width: 10px;
}

.Scroller-wrapper::-webkit-scrollbar-thumb,
.ListCheckbox-scroller::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}