.DropdownButton {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: unset;
    padding-bottom: unset;
}

.DropdownButton-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.DropdownButton--tiny {
    height: var(--spacing-xl);
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

.DropdownButton--regular {
    height: var(--spacing-3);
    padding-right: var(--spacing);
    padding-left: var(--spacing-l);
}

.DropdownButton:focus {
    background-color: var(--secondary-lighter);
}

.DropdownButton:disabled {
    pointer-events: none;
}

.DropdownButton--icon {
    padding-left: var(--spacing);
}

.DropdownButton-label {
    color: var(--inverse-light);
    margin-right: var(--spacing);
}

.DropdownButton-text {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DropdownButton--placeholder {
    color: var(--inverse-light);
}

.DropdownButton--label {
    color: var(--inverse);
}

.DropdownButton--moreIcon {
    padding-right: unset;
    padding-left: unset;
    justify-content: center;
}

.DropdownButton--moreIcon.DropdownButton--regular {
    min-width: var(--spacing-3);
}

.DropdownButton--moreIcon.DropdownButton--tiny {
    min-width: var(--spacing-xl);
}
