.Dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--spacing-m);
  width: 100%;
  background-image: linear-gradient(to right, var(--secondary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--secondary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, var(--secondary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--secondary) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 7px var(--spacing-xs), var(--spacing-xs) 7px;
  transition: background-color var(--duration--moderate-01) var(--standard-productive-curve);
  box-sizing: border-box;
  pointer-events: auto;
}

.Dropzone--active {
  background-color: var(--primary-lightest);
  background-image: linear-gradient(to right, var(--primary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--primary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, var(--primary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--primary) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 7px var(--spacing-xs), var(--spacing-xs) 7px;
  transition: background-color var(--duration--moderate-01) var(--standard-productive-curve);
  box-sizing: border-box;
  pointer-events: none;
}

.AnimationEnter--default {
  pointer-events: none;
  animation-delay: var(--duration--fast-02);
  animation: Dropzone-enter--default var(--duration--moderate-01) var(--entrance-productive-curve);
}

.AnimationEnter--active {
  pointer-events: none;
  animation-delay: var(--duration--fast-02);
  animation: Dropzone-enter--active var(--duration--moderate-01) var(--entrance-productive-curve);
}

.AnimationExit--default {
  pointer-events: none;
  animation: Dropzone-exit--default var(--duration--moderate-01) var(--exit-productive-curve);
}

.AnimationExit--active {
  pointer-events: none;
  animation: Dropzone-exit--active var(--duration--moderate-01) var(--exit-productive-curve);
}

@keyframes Dropzone-enter--default {
  from {
    opacity: 0;
    padding-top: 8px;
  }

  to {
    opacity: 1;
    padding-top: 0;
  }
}

@keyframes Dropzone-enter--active {
  from {
    opacity: 0;
    padding-top: 8px;
  }

  to {
    opacity: 1;
    padding-top: 0;
  }
}

@keyframes Dropzone-exit--default {
  from {
    opacity: 1;
    padding-top: 0;
  }

  to {
    opacity: 0;
    padding-top: 8px;
  }
}

@keyframes Dropzone-exit--active {
  from {
    opacity: 1;
    padding-top: 0;
  }

  to {
    opacity: 0;
    padding-top: 8px;
  }
}

.Dropzone--error {
  background: var(--alert-lightest);
  background-image: linear-gradient(to right, var(--alert) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--alert) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, var(--alert) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--alert) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 7px var(--spacing-xs), var(--spacing-xs) 7px;
}

.Dropzone--disabled {
  background: var(--secondary-lightest);
  background-image: linear-gradient(to right, var(--secondary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--secondary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, var(--secondary) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--secondary) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 7px var(--spacing-xs), var(--spacing-xs) 7px;
}

.Dropzone--standard {
  flex-direction: column;
  height: 196px;
  min-width: 480px;
}

.Dropzone--compressed {
  flex-direction: row;
  height: 124px;
  min-width: 400px;
}

.Dropzone--tight {
  height: 124px;
  min-width: 320px;
}

.DropzoneWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DropzoneWrapper--standard,
.DropzoneWrapper--tight {
  align-items: center;
}

.DropzoneWrapper--compressed {
  align-items: start;
}

.Dropzone-icon--standard {
  margin-bottom: var(--spacing-l);
}

.Dropzone-icon--compressed {
  margin-right: var(--spacing-xl);
}

.Dropzone-icon--disabled {
  fill: var(--inverse-lightest);
}

.Dropzone-icon--default {
  fill: var(--inverse-lighter);
}

.Dropzone-icon--active {
  fill: var(--primary);
}

.Dropzone-icon--error {
  fill: var(--alert);
}
