.Dropdown {
    position: relative;
    min-width: var(--spacing-7);
    width: fit-content;
}

.Dropdown--placeholder .PopperWrapper-trigger {
    width: 100%;
}

.Dropdown--menu {
    min-width: unset;
}

.Dropdown-input {
    border-bottom: var(--border);
}

.Dropdown-input .Input {
    min-width: unset;
}

.Dropdown-input .Input-wrapper,
.Dropdown-input .Input-wrapper:focus-within {
    border: unset;
}

.Dropdown-subinfo {
    display: flex;
    justify-content: space-between;
    margin-left: var(--spacing-l);
    margin-top: var(--spacing);
    margin-bottom: 6px;
}

.Dropdown-clear {
    cursor: pointer;
    padding-right: var(--spacing);
}

.Dropdown--border {
    border-top: var(--spacing-xs) solid var(--secondary-light);
}

.Dropdown-errorWrapper {
    min-height: var(--spacing-7);
}

.Dropdown-buttonWrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--spacing);
    padding-right: var(--spacing-l);
    padding-bottom: var(--spacing);
    border-top: var(--spacing-xs) solid var(--secondary-light);
}

.Dropdown-footer {
    padding-left: var(--spacing-l);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    box-sizing: border-box;
}

.Option {
    display: flex;
}

.Option,
.Option-loading {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
}

.Option--active {
    background-color: var(--secondary-lightest);
    cursor: pointer;
}

.Option--top {
    padding-top: 10px;
}

.Option--bottom {
    padding-bottom: 10px;
}

.Dropdown-wrapper .Option .Checkbox {
    overflow: hidden;
}

.Dropdown-loading .Dropdown-scroller {
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

.Option-loading {
    pointer-events: none;
}

.Option--selected {
    background-color: var(--primary);
    color: var(--white);
    pointer-events: none;
}

.Option-label {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Option-text,
.Dropdown-wrapper .ListCheckbox .Checkbox .Text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Option-text--wrap,
.Dropdown-wrapper--wrap.Dropdown-wrapper .ListCheckbox .Checkbox .Text {
    white-space: unset;
}

.Option--icon {
    padding-left: var(--spacing);
}

.Option-icon {
    margin-top: 3px;
}

.Option-subinfo {
    font-size: var(--spacing-l);
    color: var(--inverse-light);
}

.Option--selected .Option-subinfo {
    color: var(--white);
}

.Dropdown-scroller::-webkit-scrollbar,
.ListCheckbox-scroller::-webkit-scrollbar {
    width: 10px;
}

.Dropdown-scroller::-webkit-scrollbar-thumb,
.ListCheckbox-scroller::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}