.EditableInput {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.EditableInput-actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-10);
  width: 100%;
}

.EditableInput-actions--regular {
  top: var(--spacing-80);
}

.EditableInput-actions--tiny {
  top: var(--spacing-60);
}

.EditableInput-default {
  border: var(--spacing-2-5) solid transparent;
  box-sizing: border-box;
  white-space: nowrap;
  padding-left: var(--spacing-30);
  padding-right: var(--spacing-30);
  display: flex;
  align-items: center;
}

.EditableInput-default--regular {
  min-width: var(--spacing-640);
  height: var(--spacing-80);
}

.EditableInput-default--tiny {
  min-width: var(--spacing-240);
  height: var(--spacing-60);
}

.EditableInput-Input--tiny {
  min-width: var(--spacing-240) !important;
  width: 100%;
}
