.EditableChipInput {
  position: relative;
  width: 100%;
}

.EditableChipInput-default {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  min-height: var(--spacing-3);
  flex-wrap: wrap;
}

.EditableChipInput-defaultWithChips {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
}

.EditableChipInput-defaultWithChips:hover,
.EditableChipInput-default:hover {
  background-color: var(--secondary-lighter);
  border-radius: var(--spacing-m);
  box-shadow: inset 0 0 0 var(--spacing-xs) var(--secondary-dark);
}

.EditableChipInput-chipInput {
  padding-right: 10px;
}

.EditableChipInput-actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-m);
  width: 100%;
}
