@keyframes fullscreenModal-open {
  from {
    opacity: 0;
    background: transparent;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
  }
  to {
    top: 0px;
    left: 0px;
    opacity: 100;
  }
}

@keyframes fullscreenModal-close {
  from {
    top: 0px;
    opacity: 100;
  }
  to {
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    opacity: 0;
  }
}

.FullscreenModal {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: var(--spacing-4);
  background-color: var(--white);
  overflow: auto;
  display: none;
  visibility: hidden;
}

.FullscreenModal--open {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.FullscreenModal-animation--open {
  animation: fullscreenModal-open 240ms cubic-bezier(0, 0, 0.3, 1);
}

.FullscreenModal-animation--close {
  animation: fullscreenModal-close 120ms cubic-bezier(0.4, 0.14, 1, 1);
}

.FullscreenModal-header {
  display: flex;
  justify-content: flex-start;
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
  padding-right: var(--spacing);
}

.FullscreenModal-footer {
  justify-content: flex-end;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.FullscreenModal-body {
  padding: var(--spacing) var(--spacing-xl);
}
