.InlineMessage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: var(--spacing-m);
  background-color: var(--white);
  align-items: center;
}

.InlineMessage-icon--regular {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  margin-right: var(--spacing);
}

.InlineMessage-icon--small {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  margin-right: var(--spacing-m);
}

.InlineMessage-text--warning,
.InlineMessage-icon--warning {
  color: var(--accent1);
}

.InlineMessage-text--alert {
  color: var(--alert);
}

.InlineMessage-text--info {
  color: var(--primary);
}

.InlineMessage-text--success {
  color: var(--success);
}
