.InlineMessage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: var(--border-radius-10);
  background-color: var(--white);
  align-items: flex-start;
}

.InlineMessage-icon--regular {
  padding-top: var(--spacing-05);
  padding-bottom: var(--spacing-05);
  margin-right: var(--spacing-20);
}

.InlineMessage-icon--small {
  padding-top: var(--spacing-2-5);
  padding-bottom: var(--spacing-2-5);
  margin-right: var(--spacing-10);
}

.InlineMessage-text--warning,
.InlineMessage-icon--warning {
  color: var(--accent1);
}

.InlineMessage-text--alert {
  color: var(--alert);
}

.InlineMessage-text--info {
  color: var(--primary);
}

.InlineMessage-text--success {
  color: var(--success);
}
