/* input */

.Input-input::-ms-clear {
    display: none;
}

.Input {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--spacing-m);
    border: var(--border);
    padding-right: var(--spacing-l);
    padding-left: var(--spacing-l);
    background: var(--white);
}

.Input--minWidth {
    min-width: var(--spacing-9);
}

.Input--tiny {
    height: var(--spacing-xl);
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
}

.Input--regular {
    height: var(--spacing-3);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

.Input--large {
    height: 40px;
}

.Input--large .Input-input {
    line-height: var(--font-height-m);
    font-size: var(--font-size-m);
}

.Input:focus-within {
    border: var(--spacing-xs) solid var(--primary);
}

.Input:focus-within .Input-icon--left .Icon {
    color: var(--primary);
}

.Input--error:focus-within {
    border: var(--spacing-xs) solid var(--alert);
    box-shadow: var(--shadow-spread) var(--alert-shadow);
}

.Input--error:focus-within .Input-icon--left .Icon {
    color: var(--alert);
}

.Input--disabled {
    background: var(--secondary-lightest);
    border-color: var(--secondary-light);
}

.Input--disabled .Input-icon--left .Icon{
    color: var(--inverse-lightest);
}

.Input--error {
    border: var(--spacing-xs) solid var(--alert);
}

.Input-input {
    display: flex;
    width: 100%;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size);
    line-height: var(--font-height-s);
    color: var(--night);
    padding: 0;
    border: none;
    background: transparent;
}

.Input-input::placeholder {
    color: var(--inverse-light);
}

.Input-input:focus {
    outline: 0;
}

.Input-input:disabled .Input-input::placeholder {
    color: var(--inverse-light);
}

.Input-icon {
    display: flex;
    align-content: center;
    font-size: var(--font-size-m);
}

.Input-icon--left .Icon {
    margin-right: var(--spacing);
    color: var(--inverse);
}

.Input-icon--disabled .Icon{
    color: var(--inverse-lightest);
}

.Input-icon--right .Icon{
    cursor: pointer;
    margin-left: var(--spacing);
    color: var(--inverse-lightest);
}

.Input-inlineLabel {
    margin-right: var(--spacing);
}
