.interactive-card {
	border: solid 2px black;
	cursor: pointer;
	padding: 16px;
	margin: 16px;
}

.interactive-card--selected {
	box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5);
  border: solid 2px var(--primary);
}
