/* Label */
.Label {
  display: inline-flex;
}

.Label--withInput {
  margin-bottom: var(--spacing-10);
}

.Label--optional {
  align-items: center;
}

.Label-text {
  line-height: var(--font-height-s);
  font-weight: var(--font-weight-medium);
  word-break: break-word;
}

.Label-optionalText {
  line-height: var(--font-height-s);
  margin-left: var(--spacing-10);
}

.Label--disabled {
  color: var(--text-disabled);
}

.Label-requiredIndicator {
  height: var(--spacing-15);
  width: var(--spacing-15);
  border-radius: var(--border-radius-full);
  background: var(--alert);
  margin-left: var(--spacing-10);
  margin-bottom: var(--spacing-15);
  display: inline-flex;
}
