.Legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.Legend:hover {
    cursor: pointer;
}

.Legend-icon {
    border-radius: var(--spacing-s);
    margin-right: var(--spacing);
}