.Link {
  display: inline;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  transition: var(--duration--fast-01) var(--standard-productive-curve);
  box-sizing: border-box;
}

.Link-text {
  border-bottom: var(--border-width-2-5) solid currentColor;
  transition: var(--duration--fast-01) var(--standard-productive-curve);
}

.Link:focus-visible {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
  border-radius: var(--border-radius-10);
}

.Link--regular {
  font-size: var(--font-size);
  line-height: var(--font-height);
}

.Link--tiny {
  font-size: var(--font-size-s);
  line-height: var(--font-height-s);
}

.Link--default {
  color: var(--text-link);
}

.Link--subtle {
  color: var(--inverse-lighter);
}

.Link--subtle .Link-text {
  border-bottom-color: transparent;
}

.Link--default:hover:not(:disabled):not([aria-disabled='true']) {
  color: var(--primary-dark);
}

.Link--subtle:hover:not(:disabled):not([aria-disabled='true']) {
  color: var(--inverse-light);
}

.Link--subtle:hover:not(:disabled):not([aria-disabled='true']) .Link-text {
  border-bottom-color: currentColor;
}

.Link--default:active:not(:disabled):not([aria-disabled='true']) {
  color: var(--primary-darker);
}

.Link--subtle:active:not(:disabled):not([aria-disabled='true']) {
  color: var(--inverse);
}

.Link--subtle:active:not(:disabled):not([aria-disabled='true']) .Link-text {
  border-bottom-color: transparent;
}

.Link--button-reset {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.Link--default-disabled {
  color: var(--primary-lighter);
}

.Link--default-disabled .Link-infoIcon {
  color: var(--primary);
}

.Link--subtle-disabled {
  color: var(--inverse-lightest);
}

.Link--subtle-disabled .Link-infoIcon {
  color: var(--inverse-light);
}

.Link-wrapper {
  display: inline;
}

.Link-infoIconWrapper {
  display: inline-flex;
  vertical-align: middle;
  margin-left: var(--spacing-xs);
  width: var(--spacing-30);
  height: var(--spacing-30);
  box-sizing: border-box;
  border-radius: var(--border-radius-full);
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.Link-infoIcon {
  color: var(--text-subtle);
  pointer-events: none;
}

.Link-srOnly {
  position: absolute;
  width: var(--spacing-2-5);
  height: var(--spacing-2-5);
  padding: 0;
  margin: calc(-1 * var(--spacing-2-5));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
