.LinkButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0;
  text-align: center;
  padding: 0;
  background: transparent;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  border-radius: var(--border-radius-10);
  transition: var(--duration--fast-01) var(--standard-productive-curve);
}

.LinkButton--iconAlign-right {
  flex-direction: row-reverse;
}

.LinkButton-icon {
  line-height: inherit;
  display: flex;
  align-items: center;
}

.LinkButton-icon--left {
  margin-right: var(--spacing-10);
}

.LinkButton-icon--right {
  margin-left: var(--spacing-10);
}

.LinkButton--regular {
  line-height: var(--font-height);
  font-size: var(--font-size);
}

.LinkButton--tiny {
  line-height: var(--font-height-s);
  font-size: var(--font-size-s);
}

.LinkButton--default {
  color: var(--primary);
}

.LinkButton--default:hover {
  color: var(--primary-dark);
}

.LinkButton--default:active {
  color: var(--primary-darker);
}

.LinkButton--default:focus,
.LinkButton--default:focus-visible {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.LinkButton--default:disabled,
.LinkButton--default[aria-disabled='true'] {
  cursor: not-allowed;
  color: var(--primary-lighter);
}

.LinkButton--default:disabled .LinkButton-infoIcon,
.LinkButton--default[aria-disabled='true'] .LinkButton-infoIcon {
  color: var(--primary);
}

/* Subtle Appearance */

.LinkButton--subtle {
  color: var(--inverse-lighter);
}

.LinkButton--subtle:hover {
  color: var(--inverse-light);
}

.LinkButton--subtle:active {
  color: var(--inverse);
}

.LinkButton--subtle:focus,
.LinkButton--subtle:focus-visible {
  outline: var(--border-width-05) solid var(--primary-focus);
  outline-offset: var(--spacing-05);
}

.LinkButton--subtle:disabled,
.LinkButton--subtle[aria-disabled='true'] {
  cursor: not-allowed;
  color: var(--inverse-lightest);
}

.LinkButton--subtle:disabled .LinkButton-infoIcon,
.LinkButton--subtle[aria-disabled='true'] .LinkButton-infoIcon {
  color: var(--inverse-light); /* Or appropriate subtle icon color */
}

.LinkButton-infoIcon {
  color: var(--text-subtle);
  pointer-events: none;
}

.LinkButton-infoIcon--iconOnly {
  position: absolute;
  top: 0;
  right: 0;
}

.LinkButton-infoIcon--left,
.LinkButton-infoIcon--right {
  margin-left: var(--spacing-10);
}

.LinkButton--tiny .LinkButton-infoIcon--left,
.LinkButton--tiny .LinkButton-infoIcon--right {
  margin-left: var(--spacing-10);
}

.LinkButton-srOnly {
  position: absolute;
  width: var(--spacing-2-5);
  height: var(--spacing-2-5);
  padding: 0;
  margin: calc(-1 * var(--spacing-2-5));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
