.List {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* flex-grow: 0; */
    height: 100%;
    z-index: 1;
}

.List-grid {
    height: 100%;
    overflow: hidden;
    height: 100%;
}