.Meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-size: var(--font-size);
}

/* .MetaList-seperator {
    margin-left: var(--spacing);
} */

.MetaList-seperator {
  border-radius: 50%;
  margin-left: var(--spacing);
  height: var(--spacing-m);
  width: var(--spacing-m);
  background: var(--inverse-lightest);
}

.MetaList-seperator--left {
  margin-right: var(--spacing-m);
}

.MetaList--

.Meta-icon {
  padding-right: var(--spacing-m);
  display: flex;
  align-items: center;
}
.MetaList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-size: var(--font-size);
}
.MetaList-item {
  margin: 0 var(--spacing-m);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-size: var(--font-size);
}

.MetaList-item:first-child {
  margin-left: 0;
}

.MetaList-item:last-child {
  margin-right: 0;
}
