.MetricInput-input::-ms-clear {
  display: none;
}

.MetricInput {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--border-radius-10);
  border: var(--border);
  background: var(--white);
  overflow: hidden;
  transition: var(--duration--fast-01) var(--standard-productive-curve);
}

.MetricInput--regular {
  height: var(--spacing-80);
  padding-left: var(--spacing-30);
}

.MetricInput--large {
  height: 40px;
  padding-left: var(--spacing-40);
}

.MetricInput--small {
  height: var(--spacing-60);
  padding-left: var(--spacing-20);
}

.MetricInput:hover {
  background: var(--secondary-lightest);
  cursor: text;
}

.MetricInput:focus-within {
  background: var(--white);
  border-color: var(--primary);
  box-shadow: var(--shadow-spread) var(--primary-shadow);
}

.MetricInput:focus-within .MetricInput-icon {
  color: var(--primary);
}

.MetricInput--disabled {
  background: var(--secondary-lightest);
  border-color: var(--secondary-light);
  pointer-events: none;
}

.MetricInput--readOnly {
  background: var(--secondary-lightest);
  border-color: var(--secondary);
  pointer-events: none;
}

.MetricInput--disabled .MetricInput-icon {
  color: var(--inverse-lightest);
}

.MetricInput--error,
.MetricInput--error:hover {
  background: var(--white);
  border-color: var(--alert);
}

.MetricInput--error:focus-within {
  border-color: var(--alert);
  box-shadow: var(--shadow-spread) var(--alert-shadow);
}

.MetricInput--error:focus-within .MetricInput-icon {
  color: var(--alert);
}

.MetricInput-input {
  display: flex;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--font-height-s);
  color: var(--night);
  padding: 0;
  border: none;
  background: transparent;
}

.MetricInput-input--large {
  line-height: var(--font-height-m);
  font-size: var(--font-size-m);
}

.MetricInput-input--regular {
  line-height: var(--font-height);
  font-size: var(--font-size);
}

.MetricInput-input--small {
  line-height: var(--font-height-s);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
}

.MetricInput-input::placeholder {
  color: var(--inverse-lighter);
}

.MetricInput-input:focus {
  outline: 0;
}

.MetricInput-input:disabled .MetricInput-input::placeholder {
  color: var(--inverse-lighter);
}

.MetricInput-icon--regular {
  margin-right: var(--spacing-20);
  line-height: var(--font-height-s);
}

.MetricInput-icon--large {
  margin-right: var(--spacing-30);
  line-height: var(--font-height-m);
}

.MetricInput-icon--small {
  margin-right: var(--spacing-10);
}

.MetricInput-input::-webkit-inner-spin-button,
.MetricInput-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.MetricInput-arrowIcons {
  border-left: var(--border);
  box-sizing: border-box;
  border-radius: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.MetricInput-arrowButton {
  height: 50%;
  border: none;
  background: var(--secondary-light);
  color: var(--inverse);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

.MetricInput-arrowButton:hover {
  background: var(--secondary);
}

.MetricInput-arrowButton:active {
  background: var(--secondary-dark);
}

.MetricInput-arrowButton:focus {
  outline: 0;
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.MetricInput-arrowIcons--small,
.MetricInput-arrowIcons--regular {
  width: 20px;
}

.MetricInput-arrowIcons--large {
  width: var(--spacing-60);
}
