@keyframes modal-open {
  from {
    top: 124px;
    opacity: 0;
  }
  to {
    top: 104px;
    opacity: 100;
  }
}

@keyframes modal-close {
  from {
    top: 104px;
    opacity: 100;
  }
  to {
    top: 124px;
    opacity: 0;
  }
}

.Modal {
  position: fixed !important;
  top: 104px;
  min-height: 200px;
  max-height: 70%;
  box-shadow: var(--shadow-m);
  background-color: var(--white);
  border-radius: var(--spacing);
  overflow: auto;
  display: none;
  visibility: hidden;
}

.Modal--open {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.Modal-animation--open {
  animation: modal-open 240ms cubic-bezier(0, 0, 0.3, 1);
}

.Modal-animation--close {
  animation: modal-close 120ms cubic-bezier(0.4, 0.14, 1, 1);
}

.Modal-header {
  display: flex;
  justify-content: flex-start;
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.Modal-header--withSeperator {
  border-bottom: var(--border);
}

.Modal-description {
  padding: var(--spacing) 0;
}

.Modal-footer {
  height: 80px;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.Modal-footer--withSeperator {
  border-top: var(--border);
}

.Modal-body {
  padding: 0 var(--spacing-xl);
  margin-bottom: 80px;
}
