@keyframes modal-open {
  from {
    top: 124px;
    opacity: 0;
  }
  to {
    top: 104px;
    opacity: 100;
  }
}

@keyframes modal-close {
  from {
    top: 104px;
    opacity: 100;
  }
  to {
    top: 124px;
    opacity: 0;
  }
}

.Modal-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  z-index: 1500;
}

.Modal {
  position: fixed !important;
  top: 104px;
  min-height: 200px;
  max-height: 70%;
  box-shadow: var(--shadow-m);
  background-color: var(--white);
  border-radius: var(--spacing);
  overflow: auto;
  display: none;
  visibility: hidden;
}

.Modal--open {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.Modal-animation--open {
  animation: modal-open 240ms cubic-bezier(0, 0, 0.3, 1);
}

.Modal-animation--close {
  animation: modal-close 120ms cubic-bezier(0.4, 0.14, 1, 1);
}

.Modal-header {
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-l) var(--spacing-xl);
}

.Modal-headerHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Modal-description {
  padding: var(--spacing) 0;
}

.Modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-xl);
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.Modal-body {
  padding: 0 var(--spacing-xl);
  overflow-y: auto;
  margin-bottom: 80px;
}

.Modal-body--border {
  border-top: var(--border);
  border-bottom: var(--border);
}

.Modal-body::-webkit-scrollbar {
  width: var(--spacing-2);
}

.Modal-body::-webkit-scrollbar-thumb {
  border: var(--spacing-m) solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: var(--spacing);
  background-color: var(--secondary);
}