/* Navigation */

.Navigation {
  display: flex;
}

.Navigation--horizontal {
  flex-grow: 1;
  justify-content: center;
}

.Navigation--vertical {
  flex-direction: column;
  height: 100%;
  width: var(--spacing-9);
}

.Navigation--collapsed {
  width: fit-content;
}

.Navigation-body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: var(--spacing);
}

.Navigation-menu {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Navigation-menu--horizontal {
  border-radius: var(--spacing-2);
  padding: var(--spacing-m) var(--spacing-l);
  margin: 0 var(--spacing-xs);
}

.Navigation-menu--active {
  background: var(--secondary-light);
}

.Navigation-menu--vertical {
  /* padding-top: var(--spacing-m); */
  /* padding-bottom: var(--spacing-m); */
  padding-left: var(--spacing);
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  /* margin-right: var(--spacing); */
  border-radius: 0px var(--spacing-2) var(--spacing-2) 0px;
}

.Navigation-menu--subMenu {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: 40px;
  margin-top: 0;
}

.Navigation-menuIcon {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.Navigation-menuIcon--active {
  background: var(--secondary-light);
}

.Navigation-menuLabel {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.Navigation-menu  .Text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Navigation-footer {
  display: flex;
  align-items: center;
  padding: var(--spacing-m) var(--spacing);
}

.Navigation-footer--border {
  border-top: var(--border)
}

.Navigation--collapsed .Navigation-menuIcon--footer {
  transform: rotate(180deg);
}