.OverlayHeader {
  box-sizing: border-box;
  margin-left: var(--spacing-xl);
}

.OverlayHeader--withBackButton {
  margin-left: var(--spacing-2);
}

.OverlayHeader-headerWrapper {
  display: flex;
  align-items: center;
}

.OverlayHeader-subheading {
  margin-top: var(--spacing-s);
}

.OverlayHeader-subheading--withBackButton {
  margin-left: var(--spacing);
}

.OverlayBody {
  overflow-y: auto;
}

.Overlay-body--stickFooter {
  margin-bottom: 80px;
}

.OverlayFooter {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.OverlayBody::-webkit-scrollbar {
  width: var(--spacing-2);
}

.OverlayBody::-webkit-scrollbar-thumb {
  border: var(--spacing-m) solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: var(--spacing);
  background-color: var(--secondary);
}
