.PageHeader-wrapper {
  padding: var(--spacing) var(--spacing-2);
}

.PageHeader-wrapper--separator {
  border-bottom: var(--border);
}

.PageHeader-wrapper--withTabs {
  padding-bottom: 0;
}

.PageHeader-wrapper--withTabs .TabsWrapper-header {
  border-bottom: none;
}

.PageHeader .Row {
  width: 100%;
}

.PageHeader-titleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: var(--spacing);
}

.PageHeader-titleWrapper .Badge {
  margin-left: var(--spacing-l);
  flex-shrink: 0;
}

.PageHeader-statusWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.PageHeader-statusWrapper .StatusHints {
  margin-right: var(--spacing);
}

.PageHeader-navigationWrapper {
  margin-top: var(--spacing-l);
}

.PageHeader .PageHeader-navigationWrapper {
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.PageHeader-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.PageHeader-actionsWrapper {
  display: flex;
  justify-content: flex-end;
  padding-left: var(--spacing);
}
