/* pagination */

.Pagination {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  flex-wrap: wrap;
}

.Pagination-button {
  padding-left: var(--spacing-20);
  padding-right: var(--spacing-20);
}

.Pagination-buttonWrapper {
  display: flex;
  flex-direction: row;
}

.Pagination-pageIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--spacing-30);
  padding-right: var(--spacing-30);
}

.Pagination-MetricInput {
  width: var(--spacing-120);
  margin-right: var(--spacing-20);
  padding-left: var(--spacing-20);
  padding-right: var(--spacing-20);
}

.Pagination-MetricInput .MetricInput-input {
  text-align: center;
}
.Pagination-MetricInput .MetricInput-arrowIcons {
  display: none;
}

@media (max-width: 575px) {
  .Pagination-pageIndex {
    order: -1;
    flex-basis: 100%;
  }
  .Pagination-buttonWrapper {
    margin-top: var(--spacing-20);
    width: 50%;
  }
  .Pagination-buttonWrapper--next {
    justify-content: flex-start;
  }
  .Pagination-buttonWrapper--previous {
    justify-content: flex-end;
  }
}
