.Pills {
  /* 160px */
  max-width: calc(var(--spacing-40) * 10);
  /* truncate */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-s);
  line-height: var(--font-height-s);
  text-transform: uppercase;
  padding-right: var(--spacing-15);
  padding-left: var(--spacing-15);
  padding-top: var(--spacing-05);
  padding-bottom: var(--spacing-05);
  border-radius: 20px;
  display: inline-block;
  box-sizing: border-box;
  font-weight: var(--font-weight-bold);
  cursor: default;
}
