@keyframes shimmer {
  0%{
    background-position: -500px 0
  }
  100%{
    background-position: 500px 0
  }
}

.Placeholder--animation {
  border-radius: var(--spacing-m);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: var(--secondary-lightest);
  background: linear-gradient(to right, var(--secondary-lighter) 8%, var(--secondary-dark) 18%, var(--secondary-lighter) 33%);
  background-size: 1000px 104px;
}

.Placeholder {
  display: flex;
  align-items: center;
}

.Placeholder--withImage {
  display: flex;
  justify-content: flex-start;
}

.Placeholder-image {
  margin-right: var(--spacing);
}

.Placeholder-paragraph {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.PlaceholderParagraph {
  display: flex;
  flex: 1 0;
  height: var(--font-size);
}

.PlaceholderParagraph-wrapper {
  display: flex;
  align-items: center;
  height: var(--font-height);
}

.PlaceholderParagraph-wrapper--length-small {
  width: 33%;
}

.PlaceholderParagraph-wrapper--length-medium {
  width: 66%;
}

.PlaceholderParagraph-wrapper--length-large {
  width: 100%;
}

.PlaceholderParagraph-wrapper--size-xxs {
  height: var(--font-height-s);
}

.PlaceholderParagraph-wrapper--size-xs {
  height: var(--font-height-m);
}

.PlaceholderParagraph-wrapper--size-s {
  height: var(--font-height-s);
}

.PlaceholderParagraph-wrapper--size-m {
  height: var(--font-height-m);
}

.PlaceholderParagraph-wrapper--size-l {
  height: var(--font-height-l);
}

.PlaceholderParagraph-wrapper--size-xl {
  height: var(--font-height-xl);
}

.PlaceholderParagraph-wrapper--size-xxl {
  height: var(--font-height-xxl);
}

.PlaceholderParagraph-wrapper--size-xxxl {
  height: var(--font-height-xxl);
}

.PlaceholderParagraph--xxs {
  height: var(--font-size-s);
}

.PlaceholderParagraph--xs {
  height: var(--font-size-s);
}

.PlaceholderParagraph--s {
  height: var(--font-size);
}

.PlaceholderParagraph--m {
  height: var(--font-size-m);
}

.PlaceholderParagraph--l {
  height: var(--font-size-l);
}

.PlaceholderParagraph--xl {
  height: var(--font-size-xl);
}

.PlaceholderParagraph--xxl {
  height: var(--font-size-xxl);
}

.PlaceholderParagraph--xxxl {
  height: var(--font-size-xxxl);
}

.PlaceholderImage {
  display: flex;
  flex: 1 0;
  width: 16px;
  height: 16px;
}

.PlaceholderImage--small {
  width: 16px;
  height: 16px;
}

.PlaceholderImage--medium {
  width: 32px;
  height: 32px;
}

.PlaceholderImage--large {
  width: 48px;
  height: 48px;
}

.PlaceholderImage--round {
  border-radius: 50%;
}
