.Popover {
  border-radius: var(--spacing-m);
  position: absolute;
  z-index: 500;
  background: var(--white);
  box-shadow: var(--shadow-l);
}

.Popover--dark {
  background: var(--inverse);
  color: var(--white);
}

.Popover[data-hide="true"] {
  visibility: hidden;
  pointer-events: none;
}