.ProgressBar {
  width: 100%;
  border-radius: var(--spacing-m);
  background: var(--secondary-lightest);
}

.ProgressBar-indicator {
  height: var(--spacing);
  background-color: var(--primary);
  border-radius: var(--spacing-m);
  transition: width 200ms;
}
