.RangePicker {

}

.RangePicker-input {
    box-sizing: border-box;
}

.RangePicker-input--startDate {
    padding-right: var(--spacing-m);
}

.RangePicker-input--endDate {
    padding-left: var(--spacing-m);
}

@media (max-width: 576px) {
    .RangePicker-input {
        padding: 0;
    }

    .RangePicker-input--endDate {
        padding-top: var(--spacing);
    }
}