.Select-input {
  min-width: unset !important;
  background: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 36px;
}

.Select-input,
.Select-input:focus-within {
  border: unset !important;
  box-shadow: none !important;
}

.Select-input:hover {
  background-color: #f4f4f4;
}

.Select-trigger {
  width: 100%;
  justify-content: space-between;
  padding-top: unset;
  padding-bottom: unset;
  background: var(--secondary-light);
  color: var(--text);
  transition: var(--duration--fast-01) var(--standard-productive-curve);
}

.Select-trigger:disabled {
  background: var(--secondary-lighter);
  color: var(--text-disabled);
  pointer-events: none;
}

.Select-trigger:active,
.Select-trigger--open {
  background-color: var(--secondary-dark) !important;
  color: var(--text) !important;
  animation-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
  animation-duration: 120ms;
}

.Select-trigger:hover {
  background: var(--secondary);
  color: var(--text);
}

.Select-trigger:focus {
  background-color: var(--secondary-light);
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.Select-inputWrapper {
  border-bottom: var(--border-width-2-5) solid var(--secondary-dark);
}

.Select-inputWrapper:focus-within {
  border-bottom: var(--border-width-2-5) solid var(--primary);
}

.Select-trigger-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.Select-trigger--small {
  height: var(--spacing-60);
  padding-right: var(--spacing-20);
  padding-left: var(--spacing-20);
}

.Select-trigger--text,
.Select-option--text {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
  font-size: var(--font-size);
  line-height: var(--font-height);
  width: 100%;
}

.Select-trigger--regular {
  height: var(--spacing-80);
  padding-right: var(--spacing-20);
  padding-left: var(--spacing-30);
}

.Select-trigger--placeholder {
  color: var(--text);
}

.Select-trigger--icon {
  padding-left: var(--spacing-20);
}

.Select-buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--spacing-20);
  padding-right: var(--spacing-20);
  padding-bottom: var(--spacing-20);
  border-top: var(--border-width-2-5) solid var(--secondary-light);
}

.Select-crossButton {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  color: var(--inverse);
  border-radius: var(--border-radius-full);
  padding: var(--spacing-05);
}

.Select-crossButton:focus-visible,
.Select-crossButton:focus {
  outline: var(--spacing-05) solid var(--secondary-shadow);
}

.Select-crossButton:hover {
  background-color: var(--secondary);
}

.Select-crossButton:active {
  background-color: var(--secondary-dark);
}

.Select-option {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
