@keyframes sidesheet-open {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 100;
  }
}

@keyframes sidesheet-close {
  from {
    right: 0;
    opacity: 100;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

.Sidesheet {
  position: fixed !important;
  top: 0;
  right: 0;
  height: 100vh;
  box-shadow: var(--shadow-l);
  background-color: var(--white);
  display: none;
  visibility: hidden;
}

.Sidesheet--open {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.Sidesheet-animation--open {
  animation: sidesheet-open 240ms cubic-bezier(0, 0, 0.3, 1);
}

.Sidesheet-animation--close {
  animation: sidesheet-close 120ms cubic-bezier(0.4, 0.14, 1, 1);
}

.Sidesheet-header {
  display: flex;
  justify-content: flex-start;
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.Sidesheet-header--withSeperator {
  border-bottom: var(--border);
}

.Sidesheet-body {
  padding: 0 var(--spacing-xl);
}

.Sidesheet-body--withMargin {
  margin-bottom: 80px;
}

.Sidesheet-footer {
  height: 80px;
}

.Sidesheet-footer--withSeperator {
  border-top: var(--border);
}

.Sidesheet-footer--stickToBottom {
  position: absolute;
  bottom: 0;
}
