.Stack {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.Stack-item:hover {
  background-color: var(--secondary-lightest);
}

.Stack-item:focus {
  outline: none;
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.Stack-item:active {
  background: rgba(255, 245, 199, 0.6);
}

.Stack-item--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.Stack-item--selected {
  background: rgba(255, 245, 199, 0.6);
}

.Stack-item--activated {
  background: rgba(255, 245, 199, 0.6);
}

.Stack-item--drag-icon:hover {
  color: var(--inverse);
}

.Stack-item--drag-icon:active {
  color: var(--primary);
}
