.StatusHint {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.StatusHint-icon {
  flex-shrink: 0;
  border-radius: 50%;
  height: var(--spacing);
  width: var(--spacing);
  margin-right: var(--spacing);
}

.StatusHint--alert {
  background: var(--alert);
}

.StatusHint--success {
  background: var(--success);
}

.StatusHint--warning {
  background: var(--warning);
}

.StatusHint--info {
  background: var(--primary);
}

.StatusHint--default {
  background: var(--secondary);
}
