.Stepper {
  display: flex;
}

.Step {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
  cursor: pointer;
}

.Step--active {
  background-color: var(--primary-lightest);
  border-radius: var(--spacing-2);
  pointer-events: none;
}

.Step--disabled {
  /* pointer-events: none; */
  cursor: not-allowed;
}