.Stepper {
  display: flex;
}

.Step {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
  cursor: pointer;
}

.Step--active {
  background-color: var(--primary-lightest);
  border-radius: var(--spacing-2);
  pointer-events: none;
}

.Step--disabled {
  cursor: not-allowed;
}

.Step--active,
.Stepper-animate {
  transition-delay: var(--duration--fast-02);
}

.Stepper-animate {
  transition: var(--duration--fast-02) var(--standard-productive-curve);
}
