.Switch {
  display: inline-flex;
  position: relative;
}

.Switch--tiny {
  height: var(--spacing-2);
  width: var(--spacing-3);
}

.Switch--regular {
  height: var(--spacing-xl);
  width: var(--spacing-4);
}

.Switch--large {
  height: var(--spacing-3);
  width: var(--spacing-5);
}

.Switch-input {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.Switch-wrapper {
  display: flex;
  align-items: center;
  line-height: 100%;
  padding: var(--spacing-s);
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-light);
  transition: background 120ms ease;
  padding-right: 6px;
}

.Switch-input:focus ~ .Switch-wrapper {
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.Switch-input:focus ~ .Switch-wrapper--checked {
  box-shadow: var(--shadow-spread) var(--primary-shadow);
}

.Switch-input:hover ~ .Switch-wrapper {
  background-color: var(--secondary-light);
  box-shadow: var(--shadow-s);
}

.Switch-input:hover ~ .Switch-wrapper--checked {
  background-color: var(--primary-dark);
  box-shadow: var(--shadow-s);
}

.Switch-input:active ~ .Switch-wrapper {
  background-color: var(--secondary-dark);
}

.Switch-input:active ~ .Switch-wrapper--checked {
  background-color: var(--primary-darker);
}

.Switch-wrapper--tiny {
  border-radius: 10px;
}

.Switch-wrapper--regular {
  border-radius: 34px;
}

.Switch-wrapper--large {
  border-radius: 38px;
}

.Switch-wrapper:before {
  content: '';
  height: 100%;
  width: 50%;
  background-color: var(--shadow-0);
  box-shadow: 0 0 var(--spacing-xs) 0 var(--shadow-20);
  border-radius: 50%;
  box-sizing: border-box;
  transition-duration: 80ms;
}

.Switch-wrapper--checked {
  background-color: var(--primary);
  transition: background 120ms ease;
  padding-left: 6px;
  padding-right: 2px !important;
}

.Switch-wrapper--checked:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition-duration: 80ms;
}

.Switch--disabled {
  pointer-events: none;
}

.Switch-wrapper--disabled:before {
  background-color: var(--secondary-lightest);
}

.Switch-wrapper--checkedDisabled {
  background-color: var(--primary-lighter);
}
