/** Table **/
.Table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.Table-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.Table {
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    overflow-x: scroll;
    overflow-y: hidden;
}

.Table--resource .Table-body .Table-row:hover {
    cursor: pointer;
    background: var(--secondary-light);
}

.Table--pinned {
    position: absolute;
    height: 100%;
    z-index: 2;
    overflow-x: hidden;
    /* overflow: hidden; */
    -ms-overflow-style: none;
    border-right: 3px solid var(--secondary);
}

.Table-pinned::-webkit-scrollbar {
    display: none;
}

/* .Table--pinned .Table-cell {
    background: var(--white);
} */

.Table--main {
    flex-grow: 1;
}

.Table--comfortable .Table-cell--header {
    height: 40px;
}

.Table--comfortable .Table-cell--body {
    height: 54px;
}

.Table--standard .Table-cell--header {
    height: 40px;
}

.Table--standard .Table-cell--body {
    height: 40px;
}

.Table--compressed .Table-cell--header {
    height: 32px;
}

.Table--compressed .Table-cell--body {
    height: 32px;
}

.Table--tight .Table-cell--header {
    height: 24px;
}

.Table--tight .Table-cell--body {
    height: 24px;
}

.Table-header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.Table-headerCell {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    /* padding-left: var(--spacing-l); */
}

.Table-headerCell--draggable {
    cursor: grab;
}

.Table-headerCell--draggable:active {
    cursor: grabbing;
}

.Table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    /* margin-top: 30px; */
}

.Table-row {
    display: flex;
    flex: 1 0;
    /* outline: var(--border); */
    background: var(--white);
}

.Table-row {
    min-width: fit-content;
    border-bottom: var(--border);
}

.Table-row--body:last-child {
    border-bottom: 0;
}

.Table-checkboxCell {
    display: flex;
    align-items: center;
    padding-right: 0 !important;
}

.Table-row--selected {
    background: var(--warning-lightest) !important;
}

/* .Table-row--header {
    border-bottom: var(--border);
} */

.Table-cell {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 var(--spacing-l);
}

.Table-row--header .Table-cell {
    padding-right: var(--spacing-m);
}

.Table-cell--withSeparator {
    border-left: var(--border);
}

.Table-cell--selected {
    background: var(--primary-lightest);
}
/* .Table-cell--header.Table-cell {
    border-left: var(--border);
} */
.Table-cell--header.Table-cell:first-child {
    border-left: none;
}
.Table--main .Table-cell--header.Table-cell:last-child {
    border-right: var(--border);
}
.Table-cell--header.Table-cell--selected {
    background: var(--primary-light);
}

.Table-sortingIcons {
    display: flex;
    align-items: center;
    padding-left: var(--spacing-m);
}

.Table-cellReorder {
    display: flex;
    align-items: center;
    cursor: grab;
}

.Table-cellReorder:active {
    cursor: grabbing;
}

.Table-cellContent {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
    /* padding: 0 var(--spacing-l); */
}

.Table-cellResize {
    position: absolute;
    right: 0;
    width: var(--spacing-m);
    cursor: ew-resize;
    height: 100%;
}

.Table-cellSortIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Table-cellSortIcon:hover {
    background: var(--secondary);
}

.Table-cellResize:hover {
    background: var(--primary);
}

.Table-reorderHighlighter {
    position: absolute;
    height: 100%;
    border: 3px solid var(--primary-light);
    z-index: 10;
}

.Table-pagination {
    display: flex;
    justify-content: center;
    padding: var(--spacing) 0;
    border-top: var(--border);
}

.Table .Checkbox-wrapper {
    margin-right: 0;
}

.Table .Avatar {
    margin-left: 0;
}

.Table .Placeholder {
    display: flex;
    flex-shrink: 0;
}

.Table .Placeholder-image {
    flex-shrink: 0;
}

/** Table Cell **/
.TableCell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .TableCell-wrapper {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /* padding-left: var(--spacing-l);
    padding-right: var(--spacing-l); */
    box-sizing: border-box;
  }
  
  .TableCell-seperator {
    border-right: var(--border);
  }
  
  .TableCell-status {
    justify-content: flex-start;
    /* padding-left: var(--spacing-l); */
  }
  
  .TableCell-checkboxOnly {
    align-items: flex-start;
  }
  
  .TableCell-avatarOnly,
  .TableCell-imageOnly {
    /* padding-left: var(--spacing-m); */
  }
  
  .TableCell-textwrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  .TableCell-textwrapper--image {
    margin-left: var(--spacing-m);
  }
  
  .TableCell--left {
    justify-content: flex-start;
  }
  
  .TableCell--center {
    justify-content: center;
  }
  
  .TableCell--right {
    justify-content: flex-end;
  }

  .TableCell-image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: var(--spacing);
  }

  .Image {
      z-index: 0;
      height: 100%;
      width: 100%;
  }