/** Table **/
.Table {
    background: transparent;
    box-shadow: none;
}

.bp3-table-quadrant {
    background: transparent;
}

.bp3-table-column-headers {
    background: transparent;
}

.Table-headerCell {
    display: flex;
    align-items: center;
}