/* tabs */

.TabsWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.TabsWrapper-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.TabsWrapper-header--withSeparator {
  border-bottom: var(--border);
}

.Tab {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  min-width: 40px;
  padding: var(--spacing-l);
  margin-left: calc(-1 * var(--spacing-l));
  margin-right: var(--spacing-l);
  margin-bottom: calc(-1 * var(--spacing-xs));
  text-align: center;
}

.Tab:last-child {
  margin-right: 0;
}

.Tab::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: calc(100% - 2 * var(--spacing-l));
  height: var(--spacing-s);
  background-color: transparent;
  margin-left: var(--spacing-l);
  border-top-left-radius: var(--spacing-xs);
  border-top-right-radius: var(--spacing-xs);
}

.Tab:hover::after {
  background-color: var(--primary-dark);
}

.Tab:active::after {
  background-color: var(--primary-darker);
}

.Tab--active::after {
  background-color: var(--primary);
}

.Tab:focus {
  outline: none;
  border-radius: 4px;
  /* Using box shadow instead of border as border shifts the div down which cuts the Icon & Text of label. */
  box-shadow: color-mod(var(--primary) a(0.16)) 0px 0px 0px calc(var(--spacing-xs) + var(--spacing-s)) inset;
}

.Tab:active:focus {
  box-shadow: none;
}

.Tab--disabled {
  cursor: not-allowed;
}

.Tab--disabled:hover::after {
  background-color: transparent;
}

.Tab-count {
  display: flex;
  margin-right: var(--spacing-l);
}

.Tab-count .Badge {
  margin-left: 0;
  margin-right: 0;
}

.Tab-icon {
  display: flex;
  min-width: inherit;
  justify-content: space-between;
}

.Tabs {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

.Tabs--withSeparator {
  border-bottom: var(--border);
}

.Tab-pills {
  cursor: pointer;
  margin-right: var(--spacing);
}

.Tab-pills--disabled {
  opacity: 60%;
}
