/* tabs */

.TabsWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.TabsWrapper-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.TabsWrapper-header--withSeparator {
  border-bottom: var(--border);
}

.Tab {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  min-width: 40px;
  margin-bottom: calc(-1 * var(--spacing-xs));
  text-align: center;
  flex-shrink: 0;
}

.Tab--small {
  padding: var(--spacing) var(--spacing-l) var(--spacing-l);
}

.Tab--regular {
  padding: var(--spacing-l) var(--spacing-l) var(--spacing-2);
}

.Tab:last-child {
  margin-right: 0;
}

.Tab::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: calc(100% - 2 * var(--spacing-l));
  height: var(--spacing-s);
  background-color: transparent;
  margin-left: var(--spacing-l);
  border-top-left-radius: var(--spacing-xs);
  border-top-right-radius: var(--spacing-xs);
}

.Tab:hover::after {
  background-color: var(--inverse-lighter);
}

.Tab:active::after {
  background-color: var(--inverse-light);
}

.Tab--active::after {
  background-color: var(--primary);
}

.Tab:focus {
  outline: none;
  border-radius: 4px;
  /* Using box shadow instead of border as border shifts the div down which cuts the Icon & Text of label. */
  box-shadow: var(--shadow-spread) var(--primary-shadow);
}

.Tab--active:hover .Tab-selected {
  color: var(--primary-dark);
}

.Tab-selected:hover::after {
  background-color: var(--primary-dark);
}

.Tab:active:focus {
  box-shadow: none;
}

.Tab--disabled {
  cursor: not-allowed;
}

.Tab--disabled:focus {
  box-shadow: none;
}

.Tab--disabled:hover::after {
  background-color: transparent;
}

.Tab-count {
  display: flex;
  margin-right: var(--spacing-l);
}

.Tab-count .Badge {
  margin-left: 0;
  margin-right: 0;
}

.Tab-icon {
  display: flex;
  min-width: inherit;
  justify-content: space-between;
}

.Tabs {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

.Tabs--withSeparator {
  border-bottom: var(--border);
}

.Tab-pills {
  cursor: pointer;
  margin-right: var(--spacing);
  overflow: visible;
}

.Tab-pills--disabled {
  opacity: var(--opacity-10);
  cursor: not-allowed;
}

.DismissibleTab-icon--right {
  padding: var(--spacing-s);
  margin-left: var(--spacing-s);
  outline: none;
  border-radius: 10px;
}

.DismissibleTab-icon--default:focus-visible {
  outline: var(--spacing-s) solid var(--secondary-shadow);
}

.DismissibleTab-icon--default:hover {
  background-color: var(--secondary);
}

.DismissibleTab-icon--default:active {
  background-color: var(--secondary-dark);
}

.DismissibleTab-icon--selected:focus-visible {
  outline: var(--spacing-s) solid var(--primary-shadow);
}

.DismissibleTab-icon--selected:hover {
  background-color: var(--primary-lighter);
}

.DismissibleTab-icon--selected:active {
  background-color: var(--primary-light);
}

.Tab--overflow {
  display: flex;
  box-sizing: border-box;
}

.Tabs-Menu-Button--regular {
  margin-top: var(--spacing-0-75);
}

.Tabs-Menu-Button--small {
  margin-top: var(--spacing-s);
}

.Tabs-Menu-Button--open {
  background-color: var(--secondary-dark) !important;
}
