/* tabs */

.TabsWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.TabsWrapper-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    height: var(--spacing-4);
}

.Tab {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    min-width: 40px;
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-2);
    text-align: center;
    margin-left: var(--spacing-l);
    margin-right: var(--spacing-l);
}

.Tab:first-child {
    margin-left: 0;
}

.Tab:last-child {
    margin-right: 0;
}

.Tab--active {
    position: relative;
}

.Tab--active::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: var(--spacing-s);
    background-color: var(--primary);
    margin-bottom: -1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.Tab:hover {
    position: relative;
}

.Tab:hover::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: var(--spacing-s);
    background-color: var(--primary-dark);
    margin-bottom: -1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.Tab--disabled {
    cursor: not-allowed;
}

.Tab--disabled:hover {
    border: none;
}

.Tab-count {
    display: flex;
    margin-right: var(--spacing-l);
}

.Tab-count .Badge {
    margin-left: 0;
    margin-right: 0;
}

.Tab-icon {
    display: flex;
    min-width: inherit;
    justify-content: space-between;
}

.Tabs {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: var(--spacing-4);
}

.Tabs--withSeperator {
    border-bottom: var(--border);
}

.Tabs-pills {
    cursor: pointer;
    margin-right: var(--spacing);
}

.Tabs-pills--disabled {
    opacity: 60%;
}
