/* Textarea */

.Textarea {
  min-height: var(--spacing-3);
  width: 100%;
  display: block;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-height);
  font-size: var(--font-size);
  box-sizing: border-box;
  border-radius: var(--spacing-m);
  border: var(--border);
  color: var(--inverse);
  padding: var(--spacing) var(--spacing-l);
  resize: none;
}

.Textarea::placeholder {
  color: var(--inverse-lighter);
}

.Textarea::-ms-clear {
  display: none;
}

.Textarea:focus-within {
  outline: none;
  border: var(--spacing-xs) solid var(--primary);
}

.Textarea:disabled {
  color: var(--inverse-lighter);
  background: var(--secondary-lightest);
  border-color: var(--secondary-light);
}

.Textarea--error {
  border: var(--spacing-xs) solid var(--alert);
}

.Textarea--error:focus-within {
  border: var(--spacing-xs) solid var(--alert);
  box-shadow: var(--shadow-spread) var(--alert-shadow);
}

.Textarea--resize {
  resize: auto;
}
