/* Textarea */

.Textarea-textarea::-ms-clear {
  display: none;
}

.Textarea {
  display: flex;
  flex-direction: column;
}

.Textarea-textarea {
  min-height: var(--spacing-3);
  width: 100%;
  display: block;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-height);
  font-size: var(--font-size);
  box-sizing: border-box;
  border-radius: var(--spacing-m);
  border: var(--border);
  color: var(--inverse);
  padding: var(--spacing) var(--spacing-l);
  resize: none;
}

.Textarea-textarea::placeholder {
  color: var(--inverse-lighter);
}

.Textarea-textarea:focus-within {
  outline: none;
  border: var(--spacing-xs) solid var(--primary);
}

.Textarea-textarea:disabled {
  color: var(--inverse-lighter);
  background: var(--secondary-lightest);
  border-color: var(--secondary-light);
}

.Textarea-textarea--error {
  border: var(--spacing-xs) solid var(--alert);
}

.Textarea-textarea--error:focus-within {
  border: var(--spacing-xs) solid var(--alert);
  box-shadow: var(--shadow-spread) var(--alert-shadow);
}

.Textarea-textarea--resize {
  resize: auto;
}

.Textarea-textarea::-webkit-scrollbar {
  width: var(--spacing-2);
}

.Textarea-textarea::-webkit-scrollbar-thumb {
  border: var(--spacing-m) solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: var(--spacing);
  background-color: var(--secondary);
}