/* toast */

.Toast {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    width: 360px;
    border-radius: var(--spacing-m);
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
}

.Toast--withMessage {
    padding-bottom: var(--spacing-2);
}

.Toast--default {
    padding-left: var(--spacing-xl);
    background-color: var(--inverse);
}

.Toast--info {
    background-color: var(--primary);
}

.Toast--alert {
    background-color: var(--alert);
}

.Toast--success {
    background-color: var(--success);
}

.Toast--warning {
    background-color: var(--warning);
}

.Toast--warning {
    color: var(--text);
}

.Toast-icon {
    display: flex;
    margin-top: var(--spacing-m);
    line-height: var(--font-height-m);
}

.Toast-icon--left {
    margin-right: var(--spacing-2);
}

.Toast-icon--right {
    cursor: pointer;
    margin-left: var(--spacing-2);
}

.Toast-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Toast-title {
    display: flex;
}

.Toast-title .Heading {
    flex-grow: 1;
}

.Toast-message {
    padding-top: var(--spacing);
}

.Toast-actions {
    display: flex;
    padding-top: var(--spacing-l);
}

.Toast-actionButton {
    color: var(--text-white);
    margin-right: var(--spacing);
}

.Toast-actionButton:last-child {
    margin-right: 0;
}

.Toast-actionButton--default {
    background: var(--inverse-lighter);
}

.Toast-actionButton--default:hover,
.Toast-actionButton--default:active {
    background: var(--inverse);
}

.Toast-actionButton--default:focus {
    box-shadow: var(--shadow-spread) color-mod(var(--inverse-lighter) a(0.16));
}

.Toast-actionButton--info {
    background: var(--primary-dark);
}

.Toast-actionButton--info:hover,
.Toast-actionButton--info:active {
    background: var(--primary-darker);
}

.Toast-actionButton--info:focus {
    box-shadow: var(--shadow-spread) color-mod(var(--primary-dark) a(0.16));
}

.Toast-actionButton--success {
    background: var(--success-dark);
}

.Toast-actionButton--success:hover,
.Toast-actionButton--success:active {
    background: var(--success-darker);
}

.Toast-actionButton--success:focus {
    box-shadow: var(--shadow-spread) color-mod(var(--success-dark) a(0.16));
}

.Toast-actionButton--alert {
    background: var(--alert-dark);
}

.Toast-actionButton--alert:hover,
.Toast-actionButton--alert:active {
    background: var(--alert-darker);
}

.Toast-actionButton--alert:focus {
    box-shadow: var(--shadow-spread) var(--alert-shadow);
}

.Toast-actionButton--warning {
    background: var(--warning-dark);
}

.Toast-actionButton--warning:hover,
.Toast-actionButton--warning:active {
    background: var(--warning-darker);
}

.Toast-actionButton--warning:focus {
    box-shadow: var(--shadow-spread) var(--warning-shadow);
}