body {
  font-family: var(--font-family);
  color: var(--text);
  line-height: var(--font-height);
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

/* Text */
.Mds-Text {
  margin: 0;
  line-height: var(--font-height);
}

.Mds-Text--small {
  font-size: var(--font-size-s);
  line-height: var(--font-height-normal);
}

.Mds-Text--regular {
  font-size: var(--font-size);
  line-height: var(--font-height);
}

.Mds-Text--large {
  font-size: var(--font-size-m);
  line-height: var(--font-height-m);
}

.Mds-Text--default {
  color: var(--text);
}

.Mds-Text--subtle {
  color: var(--text-subtle);
}

.Mds-Text--disabled {
  color: var(--text-disabled);
}

.Mds-Text--destructive {
  color: var(--text-destructive);
}

.Mds-Text--white {
  color: var(--text-white);
}

.Mds-Text--success {
  color: var(--text-success);
}

.Mds-Text--link {
  color: var(--text-link);
}

.Mds-Text--medium {
  font-weight: var(--font-weight-medium);
}

.Mds-Text--strong {
  font-weight: var(--font-weight-bold);
}

/* Heading */
.Mds-Heading {
  margin: 0;
}

.Mds-Heading--s {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  line-height: var(--font-height-m);
}

.Mds-Heading--m {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
  line-height: var(--font-height-l);
}

.Mds-Heading--l {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xl);
  line-height: var(--font-height-xl);
}

.Mds-Heading--xl {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  line-height: var(--font-height-xxl);
}

.Mds-Heading--xxl {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xxxl);
  line-height: var(--font-height-xxl);
}

.Mds-Heading--default {
  color: var(--text);
}

.Mds-Heading--subtle {
  color: var(--text-subtle);
}

.Mds-Heading--disabled {
  color: var(--text-disabled);
}

.Mds-Heading--white {
  color: var(--text-white);
}

/* Label */
.Mds-Label {
  display: inline-flex;
}

.Mds-Label--withInput {
  margin-bottom: var(--spacing-m);
}

.Mds-Label--optional {
  align-items: center;
}

.Mds-Label-text {
  line-height: var(--font-height-s);
  font-weight: var(--font-weight-medium);
}

.Mds-Label-optionalText {
  line-height: var(--font-height-s);
  margin-left: var(--spacing-s);
}

.Mds-Label--disabled {
  color: var(--text-disabled);
}

.Mds-Label-requiredIndicator {
  height: var(--spacing-m);
  width: var(--spacing-m);
  border-radius: 50%;
  background: var(--alert);
  margin-left: var(--spacing-m);
}

/* Caption */
.Mds-Caption {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.Mds-Caption--withInput {
  margin-top: var(--spacing-m);
}

.Mds-Caption-icon {
  display: flex;
  align-content: center;
  margin-right: var(--spacing-m);
}

.Mds-Caption--hidden {
  display: none;
}

/* Subheading */
.Mds-Subheading {
  margin: 0;
  font-weight: var(--font-weight-bolder);
  font-size: var(--spacing-l);
  line-height: var(--font-height-m);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.Mds-Subheading--default {
  color: var(--text);
}

.Mds-Subheading--subtle {
  color: var(--text-subtle);
}

.Mds-Subheading--disabled {
  color: var(--text-disabled);
}

.Mds-Subheading--white {
  color: var(--text-white);
}
