.VerticalNav {
  display: inline-flex;
  flex-direction: column;
}

.VerticalNav--expanded {
  width: 240px;
}

.VerticalNav-section {
  text-transform: uppercase;
  padding-left: var(--spacing-40);
  padding-top: var(--spacing-30);
  padding-bottom: var(--spacing-15);
  margin-top: var(--spacing-20);
}

.VerticalNav-section--border {
  border-top: var(--border-width-2-5) solid var(--secondary-light);
}

.MenuItem {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--duration--fast-01) var(--standard-productive-curve);
  width: 232px;
}

.MenuItem--horizontal {
  height: var(--spacing-80);
  padding-right: var(--spacing-30);
  padding-left: var(--spacing-30);
  border-radius: var(--border-radius-40);
  margin: 0 var(--spacing-2-5);
}

.MenuItem--vertical {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.MenuItem--collapsed {
  height: 28px;
  width: 28px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  border-radius: var(--border-radius-full);
  cursor: pointer;
}

.MenuItem--expanded {
  padding-left: var(--spacing-40);
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);
  margin-right: var(--spacing-20);
  justify-content: space-between;
  border-radius: 0px var(--border-radius-40) var(--border-radius-40) 0px;
}

.MenuItem--disabled {
  pointer-events: none;
}

.MenuItem:hover {
  background: var(--secondary);
  text-decoration: none;
}

.MenuItem:active {
  background: var(--secondary-dark);
}

.MenuItem:focus {
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
  outline: none;
}

.MenuItem--disabled:focus {
  box-shadow: none;
}

.MenuItem--active {
  background: var(--primary-lightest);
}

.MenuItem--active:hover {
  background: var(--primary-lighter);
}

.MenuItem--active:active {
  background: var(--primary-lighter);
  color: var(--primary-darker);
}

.MenuItem--active:active .MenuItem-Text {
  color: var(--primary-darker);
}

.MenuItem--active:focus {
  box-shadow: var(--shadow-spread) var(--primary-shadow);
  outline: none;
}

.MenuItem--rounded {
  border-radius: var(--border-radius-40);
}

.MenuItem--subMenu {
  padding-left: 40px;
}

.MenuItem .Text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MenuItem--overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MenuItem-count {
  margin-right: var(--spacing-10);
  flex-shrink: 0;
}

.MenuItem-count--disabled {
  opacity: var(--opacity-10);
  color: var(--text);
}
