name: "Test build release"
on:
  push:
    branches:
      - 2.5.x
jobs:
  release:
    # uncomment next line as soon as visual tesing starts working
    # needs: visual_test 
    name: Release tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      
      - name: Check for release commit
        id: 'is_release_commit'
        uses: /innovaccer/design-system/actions/check-release-commit@master
      
      - uses: actions/setup-node@v1
        if: steps.is_release_commit.outputs.result == 1
        with:
          node-version: '10.x'
      
      - name: npm install
        if: steps.is_release_commit.outputs.result == 1
        run: npm install
        
      - name: setup git
        if: steps.is_release_commit.outputs.result == 1
        run: git checkout -b preparing-module-for-npm-publish && git config --global user.email "release-bot@innovaccer.com" && git config --global user.name "release-bot"
      
      - name: bump module version
        if: steps.is_release_commit.outputs.result == 1
        run: RELEASE_COMMIT=true npm version --no-commit-hooks $(git log -1 --pretty=format:%s) -m "Released %s"

      - name: gnerate .npmrc
        if: steps.is_release_commit.outputs.result == 1
        run: cp .npmrc.stub .npmrc

      - name: Publish to npmjs
        if: steps.is_release_commit.outputs.result == 1
        run: npm publish --access public
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: remove .npmrc
        if: steps.is_release_commit.outputs.result == 1
        run: rm -rf .npmrc
        
      - name: push module tags to github
        if: steps.is_release_commit.outputs.result == 1
        run: git push https://${{ secrets.GH_TOKEN }}@github.com/$GITHUB_REPOSITORY.git $(git log -2 --pretty=format:%B | tail -n1)

      - name: remove css/dist dist/ from commit
        if: steps.is_release_commit.outputs.result == 1
        run: |
          git reset HEAD~1
          git add package.json
          git commit -m "Released $(git log -1 --pretty=format:%s)"

      - name: push version to github
        if: steps.is_release_commit.outputs.result == 1
        run: git push https://${{ secrets.GH_TOKEN }}@github.com/$GITHUB_REPOSITORY.git HEAD:master 
    
      
      - name: notify release
        if: steps.is_release_commit.outputs.result == 1
        uses: /innovaccer/design-system/actions/notify-release@master
        env:
          GCHAT_PATH: ${{ secrets.GCHAT_PATH }}
